﻿/*===== dang ky website=====*/

@font-face {
    font-family: Roboto-Regular;
    src: url('fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: Roboto-Bold;
    src: url('fonts/Roboto-Bold.ttf')
}

@font-face {
    font-family: Roboto-Italic;
    src: url('fonts/Roboto-Italic.ttf')
}

@font-face {
    font-family: Roboto-Light;
    src: url('fonts/Roboto-Light.ttf')
}

.owl-theme .owl-controls .owl-buttons div {
    margin: 5px 0px;
}

.dang-ky-web-site {
    position: fixed;
    top: 0px;
    left: 0px;
    float: left;
    width: 100%;
    z-index: 999999;
    background: #18a4dd;
}

.dang-ky-web-site-content {
    width: 1170px;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
    font-size: 16px;
}

.dang-ky-left {
    float: left;
    padding: 9px;
    padding-left: 20px;
    position: relative;
}

.dang-ky-left:before {
    content: "";
    background: url("/theme/default/img/icon-back.png") no-repeat;
    width: 20px;
    height: 20px;
    left: 0px;
    position: absolute;
    top: 15px;
}

.popup-dang-ky {
    background: url("images/Poppup.png") no-repeat top center;
}

.dang-ky-web-site-content a {
    color: white;
    display: inline-block;
    padding-right: 20px;
}

.dang-ky-web-site-content span {
    color: white;
}

.dang-ky-right {
    float: right;
    padding: 5px;
    padding-right: 0px;
}

a#IconSkype {
    position: relative;
    padding-right: 40px;
}

a#IconSkype:after {
    content: "\f17e";
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    top: 0px;
    right: 9px;
    font-size: 25px;
    color: #ffffff;
}

.btn {
    display: inline-block;
    padding: 8px 12px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 74px;
}


/*===== dang ky website=====*/

div#Webstore {
    float: left;
    width: 100%;
}

ul#tabs li {
    float: left;
    padding: 0px 10px;
    width: 10%;
    text-align: center;
}

ul#tabs {
    float: left;
    width: 100%;
}

.Webstore-content {
    float: left;
    width: 100%;
}

div#Webstore {
    float: left;
    width: 100%;
}

.img-hover img {
    width: 100%;
    height: auto;
}

.frame-box {
    display: block !important;
}

ul#tabs li {
    float: left;
    padding: 0px 10px;
    width: 10%;
    text-align: center;
}

ul#tabs {
    float: left;
    width: 100%;
}

.img-hover img {
    width: 100%;
    height: auto;
}


/*======== WEBSITE ========*/

body {
    background: url("images/bg-body.png");
    background-position: top center;
    background-attachment: fixed;
    height: auto;
}

.container {
    background: transparent !important;
}


/*======== Header ========*/

.scroll_menu::after {
    clear: both;
    display: table;
    content: "";
}

ul.nav-menu li.active a {
    background: transparent;
    border: mone;
}

ul.breadcum li span {
    float: none;
    padding-left: 6px;
    padding-right: 6px;
}

.bread_crumb {
    color: #ffffff !important;
}

.bread_crumb ul,
.bread_crumb li {
    list-style-type: none;
}

.bread_crumb {
    padding-top: 50px;
    padding-bottom: 15px;
}

.bread_crumb .breadcum li a {
    color: #ffffff !important;
    font-size: 13px;
    font-family: Roboto-Regular;
}

ul.breadcum li a.active {
    color: #ffffff !important;
}

.menu_pc ul,
.menu_pc li {
    list-style-type: none;
}

.menu_pc {
    margin-top: 15px;
}

ul.nav-menu>li>a {
    font-size: 16px;
}

ul.nav-menu li a {
    transition: 0.5s;
    padding: 0px 14px;
    font-family: Roboto-Light !important;
    text-transform: initial;
}

.nav-main {
    background: transparent;
}

.box-marque {
    display: none;
}

.box-about-us p::before {
    content: url('images/kep_1.png');
    background-repeat: no-repeat;
    position: relative;
    padding-right: 5px;
    top: -5px;
}

.box-about-us p::after {
    content: url('images/kep_2.png');
    background-repeat: no-repeat;
    position: relative;
    padding-left: 5px;
    top: -5px;
}

.box-about-us p {
    position: relative;
}

.box-about-us {
    padding: 25px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.box-about-us .body-news p {
    font-size: 16px;
    font-family: Roboto-Regular;
    color: #ffffff;
    text-align: justify;
}

.miss_home_img {
    text-align: center;
}

.about_home_img {
    padding: 80px 0px 20px;
}

.menu_pc_all {
    padding-top: 10px;
    padding-bottom: 10px;
}

.login_face ul,
.login_face li {
    list-style-type: none;
}

.box-social-network {
    display: block;
}

.box-social-network .body-network {
    top: 15px;
    position: initial;
}

.login_face {
    margin-top: 19px;
}

.box-social-network .body-network .body-social li a {
    color: #ffffff;
    font-family: Roboto-Regular;
    font-size: 14px;
    display: block;
    overflow: hidden;
}

.body-social img {
    width: 32px;
    height: 32px;
    transition: 0.4s linear;
}

.box-social-network ul.body-social li {
    padding: 0px;
}

.body-social img:hover {
    filter: brightness(120%);
}


/*.box-social-network .body-network .body-social li:nth-of-type(1) {
    border-top-left-radius: 20px;
    background: #f7c602;
    border-bottom-left-radius: 20px;
    text-align: center;
    width: 88%;
}*/


/*
.box-social-network .body-network .body-social li:nth-of-type(1)::after {
    content: "";
    width: 30px;
    height: 30px;
    background: url("images/face_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border-radius: 100%;
    top: -1px;
    right: 0px;
}*/

.box-social-network .header {
    display: none;
}

.menu_pc_all::after {
    clear: both;
    display: table;
    content: "";
}

.f-nav {
    position: fixed !important;
    background: #ffffff;
    z-index: 1000;
    width: 100%;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.container-fluid::after {
    clear: both;
    display: table;
    content: "";
}

.menu_pc_all::after {
    clear: both;
    display: table;
    content: "";
}


/*======== End Header ========*/


/*======== Main ========*/


/*==== Menu top ====*/

.menu-top li img {
    transition: 0.6s;
}

.menu-top li:hover img {
    transform: rotateY(180deg);
    transition: 0.6s;
}

.menu-top li:active a,
.menu-top li:hover a {
    color: #fdcf0a;
    transition: 0.6s;
}

.img_top_number:nth-child(2) {
    display: none;
}

ul.menu-top {
    float: none;
    padding-top: 9px;
    padding-bottom: 9px;
    list-style-type: none;
}

.menu-top::after {
    clear: both;
    display: table;
    content: "";
}

.menu_top li {
    list-style-type: none;
}

.menu_top {
    background: #5eb33e;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

ul.menu-top li {
    width: 25%;
    text-align: center;
}

ul.menu-top li a {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Roboto-Regular;
    text-decoration: none;
}

.img_top_number,
.img_top_number_1,
.img_top_number_2,
.img_top_number_3 {
    padding-right: 8px;
}


/*==== End Menu top ====*/


/*==== News ====*/

.box-news-priority .body-news::after {
    clear: both;
    display: table;
    content: "";
}

.box-news-priority {
    padding: 20px 5px 30px;
    background: rgba(255, 255, 255, 0.7);
    position: relative;
}

.strike_cen {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.box-news-priority .header {
    font-size: 20px;
    color: #479729;
    font-family: Roboto-Bold;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.contestantItems_price {
    text-decoration: none !important;
    font-size: 16px;
}

.internet_bottom div {
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    display: inline-flex;
    float: right;
}

.internet_bottom div a {
    display: block;
}

.box-news-priority .body-news .item-list {
    width: 25%;
    float: left;
    padding: 10px;
}

.box-news-priority .body-news .item-list:hover .link-view {
    color: #479729;
    text-decoration: none;
}

.box-news-priority .body-news .item-list:hover img {
    transform: scale(1.1);
    transition: 0.6s;
}

.box-news-priority .body-news .item-list img {
    border-radius: 4px;
    width: 100%;
    height: auto;
    transition: 0.6s;
}

.box-news-priority .body-news .item-list .img-view {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 0px 3px 0px rgba(247, 198, 2, 0.9);
    border-radius: 4px;
}

.box-news-priority .body-news .item-list h5 {
    margin-bottom: 10px;
}

.box-news-priority .body-news .item-list h5 a.link-view {
    color: #333333;
    font-size: 13px;
    font-family: Roboto-Bold;
    transition: 0.5s;
}

.box-news-priority .body-news .item-list .news-more {
    display: none;
}

.box-news-priority .body-news .item-list .div-news-container {
    display: block !important;
}

.box-news-priority .body-news .item-list .div-news-container p {
    font-size: 13px;
    font-family: Roboto-Regular;
    color: #333333;
}

.box-news-priority .body-news,
.box-news-priority li {
    list-style-type: none;
}


/*==== End News ====*/

#tourDetail .tourInfo .tourInfo_right>.btn.btn-info.btn-lg:first-child {
    float: right;
    background: transparent;
    border: 1px solid #ec008c;
    border-radius: 4px;
    color: #333333;
    margin-right: 15px;
}

#tourDetail .tourInfo .tourInfo_right>.btn.btn-info.btn-lg:first-child:focus {
    outline: none;
}


/*==== Donors ====*/

.donors_list .box-adv-center .body-adv-center .advItem a {
    display: block;
    will-change: 100%;
    clear: both;
    margin-bottom: 5px;
}

.donors_list .box-adv-center .body-adv-center .advItem {
    text-align: center;
    padding: 10px;
}

.donors_list .box-adv-center .header {
    font-size: 20px;
    color: #479729;
    font-family: Roboto-Bold;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.header_donor {
    font-size: 20px;
    color: #479729;
    font-family: Roboto-Bold;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.list_all_donor::after {
    clear: both;
    display: table;
    content: "";
}

.donors_list_add::after {
    content: url(images/strike_donor.png);
    width: 1px;
    height: 100%;
    clear: both;
    display: table;
    position: absolute;
    right: 0px;
    top: 0px;
}

.contest-home .contest-list .item-home figure>p {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Roboto-Bold;
    padding-top: 3px;
}

.donors_list,
.donors_list_add {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.donors_list .box-adv-center .owl-item .advItem {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

.donors_list .box-adv-center .owl-item {
    padding: 10px;
}

.donors {
    padding: 0px 5px 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: rgba(238, 246, 236, 0.8);
}

.donors_list .box-adv-center .body-adv-center .advItemName {
    color: #333333;
    font-size: 13px;
    font-family: Roboto-Regular;
}

.donors .owl-theme .owl-controls {
    display: none !important;
}


/*==== End Donors ====*/


/*==== List_of_candidates ====*/

.contest-home .cate-header.sub-top .contest-list {
    margin-bottom: 20px;
}

.contest-home .cate-header.sub-top p:last-of-type a {
    color: #f7c602;
    font-size: 16px;
    font-family: Roboto-Bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 12px;
    background: #ffffff;
    border-radius: 4px;
    position: relative;
}

.contest-home .cate-header.sub-top p:last-of-type {
    position: relative;
}

.heart_vote_home i.fa {
    padding-left: 6px;
}

.heart_vote_home {
    width: 100%;
}

.heart_vote_home .itemVoted {
    line-height: 36px;
    background: #ec008c;
    transition: 0.5s;
}

.heart_vote_home .itemVoted:hover {
    background: rgba(236, 0, 140, 0.7);
    transition: 0.5s;
}

.heart_vote_home input {
    background: rgba(255, 255, 255, .7);
    color: #413e3e;
    transition: 0.5s;
    border: 0px !important;
}

.heart_vote_home input:hover {
    background: rgba(49, 176, 213, .7);
    transition: 0.5s;
}

.heart_vote_home .itemVoted,
.heart_vote_home input {
    width: 33.3333%;
    float: left;
    border-radius: 0px;
}

.heart_vote_home input:nth-of-type(1) {
    border-right: 1px solid #efefef !important;
}

.contest-home .contest-list .item-home figure .img-view {
    display: block;
    position: relative;
    margin-bottom: 15px;
    border-radius: 4px;
    overflow: hidden;
}

.contest-home .contest-list .item-home figure .heart_vote_home {
    position: absolute;
    bottom: 0px;
}

.contest-home .contest-list .item-home figure .item-identify {
    display: none;
}

.list_of_candidates {
    overflow: initial !important;
}

.contest-home ul,
.contest-home li {
    list-style-type: none;
}

.contest-home .contest-list::after {
    clear: both;
    display: table;
    content: "";
}

.contest-home .cate-header.sub-top>p {
    font-size: 24px;
    font-family: Roboto-Bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 6px;
}

.contest-home .cate-header.sub-top {
    margin-top: 0px !important;
}

.contest-home {
    border-radius: 5px;
    background: #f7c602;
    padding: 30px 20px;
    position: relative;
}

.contest-home .contest-list .item-home {
    width: 25%;
    float: left;
    padding: 10px;
    text-align: center;
}

.contest-home .contest-list .item-home .img-view img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.contest-home .contest-list .item-home .link-view {
    text-decoration: none;
}

.contest-home .contest-list .item-home .link-view h3 {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Roboto-Bold;
}


/*==== End list_of_candidates ====*/


/*==== Page else ====*/

#ctl18_ucLoadControl_ctl00_pnlNewsOld .txt-name-sub,
#ctl18_ucLoadControl_ctl00_pnNewsOrther .txt-name-sub,
.box-news-detailt.col-news-left .txt-name-sub {
    font-size: 16px;
    color: rgb(71, 151, 41);
    font-family: Roboto-Bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

#ctl18_ucLoadControl_ctl00_pnlNewsOld {
    margin-bottom: 15px;
    margin-top: 15px;
}

.box-news-detailt ul,
.box-news-detailt li {
    list-style-type: none;
}

.to-top {
    position: fixed;
    bottom: 4px;
    right: 15px;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999999;
}

.to-top .fa {
    font-size: 20px;
    color: #ffffff;
}

#listContestant .listTourHeader {
    text-align: center;
}

.page_else .box-news-sub .cate-header.sub-top .txt-name-sub,
#listContestant .listTourHeader a,
.box-page-sub .cate-header.sub-top .txt-name-sub {
    font-size: 20px;
    color: #479729;
    font-family: Roboto-Bold;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
}

.page_else .sub-top {
    margin-top: 0px !important;
}

.page_else .box-page-sub,
.page_else .box-sub-contact,
.page_else .box-news-detailt,
#tourDetail {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.page_else .box-news-sub .box-body .cat-news {
    clear: none !important;
    width: 32.11%;
    float: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    text-align: justify;
}

.page_else .box-news-sub .box-body .cat-news:nth-child(3n+2) {
    margin-left: 20px;
    margin-right: 20px;
}

.page_else .box-news-sub .box-body .cat-news>a:nth-of-type(1) {
    display: block;
    overflow: hidden;
    margin-bottom: 15px;
}

.page_else .box-news-sub .box-body .cat-news:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    transition: 0.4s;
}

.page_else .box-news-sub .box-body .cat-news:hover img {
    transform: scale(1.1);
    transition: 0.6s;
}

.page_else .box-news-sub,
.page_else #listContestant {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.page_else .box-news-sub .box-body .cat-news>a img {
    width: 100%;
    transition: 0.6s;
    height: auto;
}

.page_else .box-news-sub .box-body .cat-news .news-more,
.page_else .box-news-sub .box-body .cat-news.clearfix>.clearfix {
    display: none !important;
}

.page_else .box-news-sub .box-body .cat-news h4 {
    padding: 20px 10px;
}

.page_else .box-news-sub .box-body .cat-news h4 a:hover {
    color: rgb(71, 151, 41);
}

.page_else .box-news-sub .box-body .cat-news h4 a {
    font-size: 18px;
    font-family: Roboto-Regular;
    color: #333333;
    text-decoration: none;
    transition: 0.6s;
}

.pager-nav,
.pager-nav li {
    list-style-type: none;
}

ul.pager-nav li a {
    padding: 5px 10px;
    border-radius: 0px;
    background: #ffffff;
}

ul.pager-nav li.active a,
ul.pager-nav li a:hover {
    background: rgb(71, 151, 41);
    color: #ffffff;
}

.donors_list_add .img_donor_list {
    width: 50%;
    float: left;
}

.donors_list .img_donor_list {
    width: 25%;
    float: left;
}

.list_1 {
    background: #ffffff;
    text-align: center;
    padding: 15px 0px;
}

.img_donor_list {
    padding: 10px;
}


/*==== Footer ====*/

footer {
    padding-top: 15px;
    padding-bottom: 12px;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

footer .col-md-6 {
    font-size: 13px;
    color: #ffffff;
    font-family: Roboto-Regular;
}

footer .col-md-4 {
    font-size: 13px;
    color: #ffffff;
    font-family: Roboto-Regular;
    text-align: right;
}


/*==== End footer ====*/


/*==== Page else dk ====*/

.title_dk_img {
    font-size: 20px;
    font-family: Roboto-Bold;
    color: #479729;
    margin-top: 30px;
    width: 68%;
    float: left;
}

.download_form {
    float: left;
    padding: 10px 12px;
    background: #479729;
    border-radius: 30px;
    margin-top: 20px;
}

.download_form img {
    padding-left: 10px;
}

.img_dk {
    width: 10%;
    float: left;
}

.title_dk {
    padding-bottom: 15px;
    border-bottom: 1px solid #cecece;
}

.title_dk_all_1::after {
    clear: both;
    display: table;
    content: "";
}

.title_dk_all_1 {
    width: 100%;
    clear: both;
    float: right;
    padding-bottom: 20px;
    border-top: 1px solid #cecece;
}

.title_dk_all_1 .download_form {
    float: right;
}

.download_form a {
    font-size: 13px;
    color: #ffffff;
    font-family: Roboto-Regular;
    padding-right: 10px;
    text-decoration: none;
}

.download_form .fa {
    font-size: 25px;
    color: #ffffff;
}

.title_dk::after {
    clear: both;
    display: table;
    content: "";
}

.box-page-sub .box-body .div-addthis-news,
.box-page-sub .shares-box-comment {
    display: none;
}

.page_else #tourDetail .tourInfo .tourInfo_left {
    width: 50%;
    float: left;
    padding-right: 15px;
}

.page_else #tourDetail .tourInfo .tourInfo_right {
    width: 50%;
    float: left;
    padding-left: 15px;
}

#sync2 .item,
#sync2 .item:hover {
    border: 1px solid transparent;
    border-radius: 4px;
}

#sync2 .synced .item {
    border: 1px solid rgb(71, 151, 41);
    border-radius: 4px;
}

.box-page-sub .box-body {
    padding-left: 50px;
    padding-right: 50px;
}

#tourDetail .owl-item {
    border-radius: 4px;
}

#tourDetail::after {
    clear: both;
    display: table;
    content: "";
}

hr {
    border-color: #cecece;
}

.tourInfo_left::after,
.tourInfo_right::after {
    clear: both;
    display: table;
    content: "";
}

.contestant_detail_info_top_name {
    color: #413e3e;
    font-size: 30px;
    font-family: Roboto-Regular;
}

.contestant_detail_info_top_sbd {
    font-size: 16px;
    font-family: Roboto-Regular !important;
    color: #413e3e;
    margin-top: 5px;
    padding: 0px !important;
}

.contestant_detail_info_top_sbd strong {
    font-weight: 400 !important;
}

.contestant_detail_info_top_vote {
    display: none;
}

.contestant_detail_info_bottom_ContestantPlace {
    font-family: Roboto-Bold;
    padding-bottom: 5px;
}

.contestant_detail_info strong {
    float: left;
    padding-right: 15px;
}

.contestant_detail_info div::after {
    clear: both;
    display: table;
    content: "";
}

.contestant_detail_info div {
    clear: both;
}

.contestant_detail_info div {
    padding-bottom: 8px;
    padding-top: 8px;
}

.donors_list .strike_cen img {
    width: 100%;
    height: auto;
}

#tourDetail .tourInfo>.btn {
    float: right;
    color: #413e3e;
    background: #ffffff;
    transition: 0.2s;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-family: Roboto-Bold;
    position: absolute;
    right: -20px;
    top: -20px;
}

#tourDetail .tourInfo>.btn:hover {
    transform: rotate(180deg);
    transition: 0.2s;
    color: rgb(71, 151, 41);
}

.btn-info {
    border: none;
}

#tourDetail {
    position: relative;
}

.container.page_else {
    overflow: initial !important;
}

#tourDetail .cloudzoom {
    border-radius: 4px;
}

#tourDetail #sync2 .owl-wrapper-outer .item img {
    border-radius: 4px;
}

.contestant_detail_info_bottom_PointOfView strong {
    clear: both;
    width: 100%;
    margin-bottom: 5px;
}

.contestant_detail_info_bottom_PointOfView p:nth-last-of-type(2)::before {
    content: url(images/kep_1.png);
    background-repeat: no-repeat;
    position: relative;
    padding-right: 5px;
    top: -5px;
}

.contestant_detail_info_bottom_PointOfView p:nth-last-of-type(2) {
    position: relative;
}

.contestant_detail_info_bottom_PointOfView p:nth-last-of-type(2)::after {
    content: url(images/kep_2.png);
    background-repeat: no-repeat;
    position: relative;
    padding-left: 5px;
    top: -5px;
}

#tourDetail .shares .fb-comments {
    margin-top: 30px;
    width: 100%;
}

#tourDetail .shares .fb-comments>span {
    width: 100% !important;
}

#tourDetail .shares .fb-comments iframe {
    width: 100% !important;
}


/*==== Page else list miss ====*/

#tourDetail .owl-prev,
#tourDetail .owl-next {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    border-radius: 0px;
}

#listContestant .listcontestantByCat_content .contestantItems .contestantItems_price {
    text-decoration: none;
    margin-bottom: 5px;
}

#listContestant .listcontestantByCat_content .contestantItems .contestantItems_price strong {
    font-size: 16px;
    font-family: Roboto-Bold !important;
}

.heart_vote {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    bottom: -20px;
}

#listContestant .listcontestantByCat_content .contestantItems:hover .heart_vote {
    bottom: 0px;
    opacity: 1;
    transition: 0.5s;
}

.heart_vote input {
    color: #413e3e;
    background: rgba(238, 246, 236, 0.7);
}

.heart_vote input,
.heart_vote .itemVoted {
    width: 50%;
    float: left;
    border-radius: 0px;
    text-align: center;
    transition: 0.5s;
}

.heart_vote input:hover {
    background: rgba(91, 192, 222, 0.7);
    border: none !important;
}

.heart_vote .itemVoted:hover {
    background: rgba(236, 0, 140, .7);
    transition: 0.5s;
}

.heart_vote .itemVoted {
    line-height: 36px;
    background: #ec008c;
    transition: 0.5s;
}

.heart_vote .itemVoted i.fa {
    padding-left: 5px;
}

#listContestant .contestantItems_img {
    position: relative;
    border-radius: 4px;
    margin-bottom: 0px;
    overflow: hidden;
    display: block;
}

#listContestant .contestantItems::after {
    clear: both;
    display: table;
    content: "";
}

.contestantItems_img_wrap {
    position: relative;
    margin-bottom: 15px;
}

.contestantItems_button_wrap input,
.contestantItems_button_wrap .itemVoted {
    width: 33.33333333333%;
    border-radius: 0px;
}

.contestantItems_button_wrap input {
    background: rgba(255, 255, 255, 0.7) !important;
    transition: 0.5s;
    color: #413e3e;
}

.contestantItems_button_wrap input:hover {
    transition: 0.5s;
    background: rgba(255, 255, 255, 1) !important;
    color: #413e3e;
}

.contestantItems_button_wrap {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
}

.contest-home .item-home:hover img {
    transition: 0.5s;
    transform: scale(1.1);
}

.contestantItems img,
.contest-home .item-home img {
    transition: 0.5s;
}

.contestantItems:hover img {
    transition: 0.5s;
    transform: scale(1.1);
}

.itemVoted {
    line-height: 36px;
    background: #ec008c;
    transition: 0.5s;
}

#listContestant .contestantItems_img_wrap .contestantItems_button_wrap {
    opacity: 0;
    transition: 0.5s;
    bottom: -20px;
}

.contestantItems_button_wrap input:nth-of-type(1) {
    border-right: 1px solid #cecece;
}

#listContestant .contestantItems:hover .contestantItems_button_wrap {
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.3s;
    bottom: 0px;
}

.itemVoted:hover {
    font-size: 16px;
    background: rgba(236, 0, 140, 0.7);
}

.contestantItems_button_wrap input:hover {
    background: rgba(91, 192, 222, 0.7);
    transition: 0.5s;
}

.itemVoted .fa {
    padding-left: 5px;
}

#listContestant .listTourHeader {
    display: none;
}

#listContestant .contestantItems {
    background: #ffffff;
    border-radius: 4px;
    padding: 15px 15px 25px;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 23.5%;
    margin-right: 22px;
}

#tourDetail .tourInfo .tourInfo_right .contestantItems_button_wrap_detail .itemVoted {
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #ffffff;
    border: rgba(236, 0, 140, 1) !important;
    color: rgba(236, 0, 140, 1);
    line-height: initial !important;
}

#tourDetail .tourInfo .tourInfo_right .contestantItems_button_wrap_detail {
    float: right;
}

.contestantItems_button_wrap_detail {
    text-align: center;
}

#tourDetail .tourInfo .tourInfo_right .contestantItems_button_wrap_detail .itemVoted:hover {
    font-size: 14px;
    background: #ffffff;
    color: rgba(236, 0, 140, 1);
}

#tourDetail .tourInfo .tourInfo_right .contestantItems_button_wrap_detail>.btn.btn-info.btn-lg {
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -2px;
    background: rgba(236, 0, 140, 1);
}

#listContestant .contestantItems .contestantItems_info1>p {
    text-align: center;
    padding-top: 3px;
}

#listContestant .contestantItems4 {
    margin-right: 0px !important;
}


/*==== End Page else list miss ====*/


/*==== Page else detail news ====*/

.col-news-right ul,
.col-news-right li {
    list-style-type: none;
}

.box-adv-right {
    color: transparent;
    margin-top: 15px;
}

.box-face::after,
.box-face::before,
.box-adv-right::after,
.box-adv-right::before {
    clear: both;
    display: table;
    content: "";
}

.box-adv-right .header {
    display: none;
}

.col-news-right .col-news-right_1 {
    display: block;
}

.col-news-right .box-face {
    margin-top: 0px;
    height: 230px;
}

.col-news-right_1 {
    display: none;
}

.col-news-left {
    width: 72.5%;
    float: left;
}

.col-news-right {
    float: right;
    width: 26%;
}


/*==== End Page else detail news ====*/


/*=============================== mid dk==================================*/

.txt_top {
    color: #479729;
    font-size: 20px;
    font-family: Roboto-Bold !important;
}

.number_dk p {
    float: left;
    padding: 10px 11px;
    border-radius: 100%;
    background: #479729;
    font-size: 16px;
    font-family: Roboto-Bold;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
}

.number_dk {
    width: 5%;
    float: left;
}

.modul_dk::after {
    clear: both;
    display: table;
    content: "";
}

.modul_dk {
    padding: 15px 0px;
}

.text_dk {
    padding-left: 10px;
    width: 95%;
    float: left;
}

.strong_txt {
    font-size: 18px;
    font-family: Roboto-Regular;
    color: #479729;
    padding-bottom: 10px;
}


/*==== End Page else dk ====*/


/*==== page else contact ====*/

.infor_change {
    background: #f3f3f3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 19px 18px;
    color: #413e3e;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact_left,
.contact_right {
    width: 50%;
    float: left;
    padding: 15px 0px;
}

.contact_left {
    padding-right: 15px;
}

.contact_right {
    padding-left: 15px;
}

.contact_left_top .header,
.contact_left_mid .header,
.contact_left_bot .header {
    font-size: 18px;
    color: #413e3e;
    font-family: Roboto-Bold;
    margin-bottom: 10px;
}

.contact_left_mid::after,
.contact_left_bot::after,
.contact_left_top::after {
    clear: both;
    display: table;
    content: "";
}

.infor_change p {
    font-size: 15px;
    font-family: Roboto-Regular;
}

.infor_change {
    text-align: center;
}

.contact_left_bot {
    margin-top: 15px;
}

.contact_left .fa {
    color: #479729;
    font-size: 18px;
    width: 11%;
    padding-right: 10px;
}

.contact_left a {
    font-size: 16px;
    color: #0a90ee;
    text-decoration: none;
}

.contact_left .col-md-6 {
    padding-top: 3px;
    padding-bottom: 3px;
}


/*==== End page else contact ====*/


/*==== Page else donor ====*/

.donor_page_else {
    padding-top: 25px;
    padding-bottom: 125px;
}

.donor_page_else::after {
    clear: both;
    display: table;
    content: "";
}

.donor_page_else_left,
.donor_page_else_right {
    width: 50%;
    float: left;
}

.donor_page_else_left .col-md-6 {
    text-align: center;
}

.donor_page_else_left {
    border-right: 1px solid #d7d7d7;
}

.donor_page_else_left .header {
    font-size: 18px;
    color: #413e3e;
    font-family: Roboto-Bold;
    margin-bottom: 25px;
}


/*==== End page else donor ====*/


/*==== thể lệ cuộc thi ====*/

strong {
    font-family: Roboto-Bold !important;
}

.font_bold {
    font-family: Roboto-Bold;
}


/*==== search pro ====*/

.footer-nav {
    background: #5eb33e;
    height: 48px;
    padding: 7px 10px;
}

.open>.dropdown-menu {
    padding: 10px;
}

#listContestant .listTourHeader::after,
#listContestant {
    clear: both;
    display: table;
    content: "";
}

#listContestant {
    width: 100%;
}

.page_else .col-md-12::after {
    clear: both;
    display: table;
    content: "";
}


/*==== End search pro ====*/


/*==== menu all mobile , ipad , pc ====*/

.menu-bg {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: rgba(0, 0, 0, 0.29804) !important;
}

body {
    position: relative;
}

.menu_pc_all_1 {
    left: 0px !important;
    transition: 0.5s;
}

.body_1 {
    left: 250px;
    transition: 0.5s;
    position: relative;
}

@media screen and (width:1024px) {
    .banner_all {
        width: 12%;
    }
    ul.nav-menu li a {
        padding: 0px 9px;
    }
}

@media screen and (max-width:1024px) {
    #listContestant .contestantItems_img_wrap .contestantItems_button_wrap {
        opacity: 1 !important;
        bottom: 0px !important;
    }
}

@media screen and (min-width:992px) {
    .menu_mobile_all {
        display: none;
    }
    .menu_pc_all {
        display: block;
        width: 100%;
        z-index: 1000;
        position: fixed;
    }
    .header_all {
        padding-top: 100px;
    }
}

.footer-nav.show ul,
.footer-nav.show li {
    list-style-type: none;
}

@media screen and (max-width:991px) {
    ul.nav-menu li.active a,
    ul.nav-menu li:hover a {
        background: transparent !important;
        border-top: 0px !important;
    }
    ul.nav-menu li.active a {
        color: #479729;
    }
    .dropdown-menu {
        right: 0px !important;
        left: initial;
    }
    .footer-nav.show .col-md-1,
    .footer-nav.show .col-md-3,
    .footer-nav.show .col-md-7 {
        float: left;
    }
    .footer-nav.show .col-md-7 {
        width: 100%;
        text-align: center;
        display: none;
    }
    .footer-nav.show .col-md-1 {
        width: 20%;
    }
    .footer-nav.show .col-md-3 {
        width: 60%;
    }
    .footer-nav {
        height: auto;
    }
    #listContestant .contestantItems_img_wrap .contestantItems_button_wrap {
        opacity: 1 !important;
        bottom: 0px !important;
    }
    .menu_pc_all .container {
        overflow: initial;
        width: 100%;
    }
    .menu_mobile_all {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 10000;
    }
    .menu_pc_all {
        top: 50px;
        transition: 0.5s;
        z-index: 9999999;
        position: fixed;
        width: 250px;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        left: -250px;
        overflow-y: scroll;
    }
    .menu_mobile_all .fa,
    .menu_mobile_all {
        font-size: 22px;
        color: #ffffff;
        padding-right: 6px;
    }
    .strike_cen img,
    .contest-home .cate-header.sub-top>p:nth-of-type(1) img {
        width: 100%;
        height: auto;
    }
    .nav-main {
        height: auto;
    }
    .box-social-network .body-network {
        left: 0px;
    }
    .banner .img-logo {
        width: auto !important;
        height: auto !important;
    }
    .banner {
        float: none;
    }
    .banner_all::after,
    .nav-main::after,
    .menu_pc::after {
        clear: both;
        display: table;
        content: "";
    }
    .banner_all {
        text-align: center;
    }
    ul.nav-menu li {
        width: 100%;
        display: block;
    }
    ul.nav-menu li a {
        color: #ffffff;
        padding: 0px;
    }
    .link-logo {
        display: block;
    }
    .banner_all,
    .menu_pc {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}


/*==== End menu all mobile , ipad , pc ====*/


/*======== MOBILE ========*/

@media screen and (min-width:1200px) {
    .number-phone {
        position: absolute;
        bottom: 2px;
        left: 90px;
        opacity: 0;
        transition: 0.5s;
        background: #ec008c;
        padding: 8px 20px;
        font-size: 16px;
        color: #ffffff;
        font-family: Roboto-Regular;
        font-style: initial;
        font-weight: 400;
        visibility: hidden;
    }
    .description:hover .number-phone::before {
        font-family: FontAwesome;
        content: "\f0d9";
        color: #ec008c;
        font-size: 16px;
        bottom: 19px;
        left: -5px;
        position: absolute;
        visibility: initial;
    }
    .description:hover .number-phone {
        opacity: 1;
        left: 70px;
        visibility: initial;
    }
    .contest-home .cate-header.sub-top>p:last-of-type::before {
        content: url("images/strike_1.png");
        position: absolute;
        top: -4px;
        left: 8.2%;
    }
    .page_else .box-news-sub .box-body .cat-news>a:nth-of-type(1) {
        height: 237px;
        overflow: hidden;
    }
    .box-news-priority .body-news .item-list .img-view {
        height: 175px;
        overflow: hidden;
    }
    .box-news-priority .body-news .item-list h5 {
        height: 29px;
        overflow: hidden;
    }
    .page_else .box-news-sub .box-body .cat-news h4 {
        height: 78px;
        overflow: hidden;
    }
    /*==== menu ====*/
    ul.nav-menu li.active a,
    ul.nav-menu li:hover a {
        background: transparent;
        border-top: 0px;
        color: #fdcf0a;
        transition: 0.5s;
    }
    ul.nav-menu li:hover a::after {
        content: '';
        width: 100%;
        position: absolute;
        transition: 0.5s;
        left: 0;
        bottom: -1px;
        height: 2px;
        background: #fdcf0a;
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(253, 207, 10, 0)), color-stop(50%, rgba(253, 207, 10, 0.75)), color-stop(100%, rgba(253, 207, 10, 0)));
        background: -webkit-linear-gradient(left, rgba(253, 207, 10, 0) 0%, rgba(253, 207, 10, 0.75) 50%, rgba(253, 207, 10, 0) 100%);
        background: -moz-linear-gradient(left, rgba(253, 207, 10, 0) 0%, rgba(253, 207, 10, 0.75) 50%, rgba(253, 207, 10, 0) 100%);
        background: -ms-linear-gradient(left, rgba(253, 207, 10, 0) 0%, rgba(253, 207, 10, 0.75) 50%, rgba(253, 207, 10, 0) 100%);
        background: -o-linear-gradient(left, rgba(253, 207, 10, 0) 0%, rgba(253, 207, 10, 0.75) 50%, rgba(253, 207, 10, 0) 100%);
        background: linear-gradient(left, rgba(253, 207, 10, 0) 0%, rgba(253, 207, 10, 0.75) 50%, rgba(253, 207, 10, 0) 100%);
    }
    /*==== end menu ====*/
    .box-news-priority .body-news .item-list .div-news-container {
        height: 38px;
        overflow: hidden;
    }
    .list_of_candidates {
        width: 1200px;
    }
    .contest-home::before {
        position: absolute;
        border-style: solid;
        border-width: 5.5px;
        border-color: #a28406 #a28406 transparent transparent;
        bottom: -11px;
        left: 4px;
        content: "";
    }
    .contest-home::after {
        position: absolute;
        border-style: solid;
        border-width: 5.5px;
        border-color: #a28406 transparent transparent #a28406;
        bottom: -11px;
        right: 4px;
        content: "";
    }
    .box-news-priority::before {
        position: absolute;
        border-style: solid;
        border-width: 5.5px;
        border-color: transparent #a28406 #a28406 transparent;
        bottom: 0px;
        left: -11px;
        content: "";
    }
    .box-news-priority::after {
        position: absolute;
        border-style: solid;
        border-width: 5.5px;
        border-color: transparent transparent #a28406 #a28406;
        bottom: 0px;
        right: -11px;
        content: "";
    }
    .heart_vote_home {
        width: 101%;
    }
}


/*========= MOBILE ========*/

@media screen and (max-width:480px) {
    /*==== đăng kí ====*/
    .strike_cen img {
        width: 100%;
        height: auto;
    }
    .box-page-sub .box-body {
        padding: 0px;
    }
    footer .col-md-3,
    footer .col-md-9 {
        text-align: justify;
    }
    .img_dk {
        width: 100%;
        text-align: center;
    }
    .title_dk_img {
        width: 100%;
        margin-top: 15px;
    }
    .number_dk {
        width: auto;
        float: left;
        margin-right: 10px;
    }
    .text_dk {
        width: auto;
        float: none;
        padding-left: 0px;
    }
    /*==== tin tức & sự kiện  ====*/
    .page_else .box-news-sub .box-body .cat-news {
        width: 100%;
    }
    .page_else .box-news-sub .box-body .cat-news:nth-child(3n+2) {
        margin-left: 0px;
        margin-right: 0px;
    }
    /*==== ds thí sinh ====*/
    #listContestant .contestantItems {
        width: 100%;
        margin-right: 0px;
    }
    /*==== chi tiết thí sinh ====*/
    .page_else #tourDetail .tourInfo .tourInfo_left {
        width: 100%;
        padding-right: 0px;
    }
    .page_else #tourDetail .tourInfo .tourInfo_right {
        width: 100%;
        padding-left: 0px;
        margin-top: 20px;
    }
    /*==== liên hệ ====*/
    .contact_left {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .contact_right {
        width: 100%;
        padding-left: 0px;
    }
    /*==== trang chủ ====*/
    .box-news-priority .body-news .item-list {
        width: 100%;
        margin-bottom: 20px;
    }
    .box-news-priority .body-news .item-list h5 a.link-view {
        font-size: 14px;
    }
    .contest-home .cate-header.sub-top>p:nth-of-type(1) img {
        width: 100%;
        height: auto;
    }
    .miss_home_img img,
    .about_home_img img {
        width: 100%;
        height: auto;
    }
    .miss_home_img {
        margin-top: 15px;
    }
    .list_of_candidates {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .box-page-sub table {
        width: 100% !important;
    }
    .box-news-priority {
        padding: 20px 5px 30px;
    }
    .contest-home .contest-list .item-home {
        width: 100%;
        margin-bottom: 20px;
    }
    .contest-home {
        padding: 30px 5px;
    }
    .website .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .list_of_candidates {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .box-news-priority {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    ul.menu-top>li>a {
        display: block;
    }
    ul.menu-top>li>a:last-of-type {
        margin-top: 8px;
    }
    /*==== nhà tài trợ ====*/
    .donor_page_else_left,
    .donor_page_else_right {
        width: 100%;
        border: none;
    }
    .donor_page_else_left .col-md-6:last-child {
        margin-top: 25px;
    }
    /*==== chi tiết tin ====*/
    .col-news-left,
    .col-news-right {
        width: 100%;
        float: left;
    }
    .col-news-right {
        margin-top: 15px;
    }
    .box-adv-right img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width:481px) and (max-width:640px) {
    .box-page-sub table {
        width: 100% !important;
    }
    /*==== trang chủ ====*/
    .website .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .list_of_candidates {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    /*==== đăng ký ====*/
    .box-page-sub .box-body {
        padding: 0px;
    }
    footer .col-md-3,
    footer .col-md-9 {
        text-align: justify;
    }
    .img_dk {
        width: 100%;
        text-align: center;
    }
    .title_dk_img {
        width: 100%;
        margin-top: 15px;
    }
    .number_dk {
        width: auto;
        float: left;
        margin-right: 10px;
    }
    .text_dk {
        width: auto;
        float: none;
        padding-left: 0px;
    }
    /*==== thể lệ cuộc thi ====*/
    .box-page-sub table {
        width: 100% !important;
    }
    /*==== trang chủ ====*/
    .box-news-priority .body-news .item-list,
    .contest-home .contest-list .item-home {
        width: 50%;
        margin-bottom: 20px;
    }
    /*==== nhà tài trợ ====*/
    .donor_page_else_left .col-md-6:last-child {
        margin-top: 25px;
    }
    /*==== liên hệ ====*/
    .contact_left {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .contact_right {
        width: 100%;
        padding-left: 0px;
    }
    /*==== danh sách tin ====*/
    .page_else .box-news-sub .box-body .cat-news {
        width: 48%;
        margin-bottom: 20px;
    }
    .page_else .box-news-sub .box-body .cat-news:nth-child(3n+2) {
        margin-left: 0px;
        margin-right: 0px;
    }
    .page_else .box-news-sub .box-body .cat-news:nth-child(2n) {
        margin-left: 16px;
    }
    .page_else .box-news-sub .box-body .cat-news h4 {
        height: 97px;
        overflow: hidden;
    }
    /*==== chi tiết tin ====*/
    .col-news-left,
    .col-news-right {
        width: 100%;
        float: left;
    }
    .col-news-right {
        margin-top: 15px;
    }
    /*==== danh sách thí sinh ====*/
    #listContestant .contestantItems {
        width: 48.2%;
        margin-right: 0px;
        margin-top: 0px;
    }
    #listContestant .contestantItems.contestantItems2,
    #listContestant .contestantItems.contestantItems4 {
        margin-left: 15px !important;
    }
}

@media screen and (min-width:641px) and (max-width:767px) {
    .box-page-sub table {
        width: 100% !important;
    }
    /*==== trang chủ ====*/
    .website .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .list_of_candidates {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    /*==== đăng ký ====*/
    .box-page-sub .box-body {
        padding: 0px;
    }
    footer .col-md-3,
    footer .col-md-9 {
        text-align: justify;
    }
    .img_dk {
        width: 100%;
        text-align: center;
    }
    .title_dk_img {
        width: 100%;
        margin-top: 15px;
    }
    .number_dk {
        width: auto;
        float: left;
        margin-right: 10px;
    }
    .text_dk {
        width: auto;
        float: none;
        padding-left: 0px;
    }
    /*==== thể lệ cuộc thi ====*/
    .box-page-sub table {
        width: 100% !important;
    }
    /*==== trang chủ ====*/
    .box-news-priority .body-news .item-list,
    .contest-home .contest-list .item-home {
        width: 50%;
        margin-bottom: 20px;
    }
    /*==== chi tiết tin ====*/
    .col-news-left,
    .col-news-right {
        width: 100%;
        float: left;
    }
    .col-news-right {
        margin-top: 15px;
    }
    .box-adv-right {
        text-align: center;
    }
    /*==== danh sách tin ====*/
    .page_else .box-news-sub .box-body .cat-news {
        width: 48%;
        margin-bottom: 20px;
    }
    .page_else .box-news-sub .box-body .cat-news:nth-child(3n+2) {
        margin-left: 0px;
        margin-right: 0px;
    }
    .page_else .box-news-sub .box-body .cat-news:nth-child(2n) {
        margin-left: 20px;
    }
    .page_else .box-news-sub .box-body .cat-news h4 {
        height: 97px;
        overflow: hidden;
    }
    /*==== liên hệ ====*/
    .contact_left,
    .contact_right {
        width: 100%;
    }
    .contact_right {
        padding-left: 0px;
    }
    .contact_left {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .contact_left .col-md-6 {
        width: 50%;
        float: left;
    }
    /*==== danh sách thí sinh ====*/
    #listContestant .contestantItems {
        width: 48.2%;
        margin-right: 0px;
        margin-top: 0px;
    }
    #listContestant .contestantItems.contestantItems2,
    #listContestant .contestantItems.contestantItems4 {
        margin-left: 15px !important;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    /*==== danh sách tin ====*/
    .page_else .box-news-sub .box-body .cat-news {
        width: 48%;
        margin-bottom: 20px;
    }
    .page_else .box-news-sub .box-body .cat-news:nth-child(3n+2) {
        margin-left: 0px;
        margin-right: 0px;
    }
    .page_else .box-news-sub .box-body .cat-news:nth-child(2n) {
        margin-left: 20px;
    }
    .page_else .box-news-sub .box-body .cat-news h4 {
        height: 97px;
        overflow: hidden;
    }
    /*==== danh sách thí sinh ====*/
    #listContestant .contestantItems {
        width: 48.5%;
        margin-right: 0px;
        margin-top: 0px;
    }
    #listContestant .contestantItems.contestantItems2,
    #listContestant .contestantItems.contestantItems4 {
        margin-left: 15px !important;
    }
    /*==== đăng ký ====*/
    .box-page-sub .box-body {
        padding: 0px;
    }
    footer .col-md-3,
    footer .col-md-9 {
        text-align: justify;
    }
    .img_dk {
        width: 100%;
        text-align: center;
    }
    .title_dk_img {
        width: 100%;
        margin-top: 15px;
    }
    .number_dk {
        width: auto;
        float: left;
        margin-right: 10px;
    }
    .text_dk {
        width: auto;
        float: none;
        padding-left: 0px;
    }
    /*==== trang chủ ====*/
    .box-news-priority .body-news .item-list,
    .contest-home .contest-list .item-home {
        width: 50%;
        margin-bottom: 20px;
    }
    .box-news-priority .body-news .item-list .div-news-container {
        height: 54px;
        overflow: hidden;
    }
    /*==== liên hệ ====*/
    .contact_left .col-md-6 {
        width: 50%;
        float: left;
    }
    .contact_left .fa {
        width: 20%;
    }
    .box-page-sub table {
        width: 100% !important;
    }
}

@media screen and (min-width:993px) and (max-width:1024px) {
    /*==== danh sách tin ====*/
    .strike_cen img {
        width: 100%;
        height: auto;
    }
    .page_else .box-news-sub .box-body .cat-news {
        width: 32%;
        margin-bottom: 20px;
    }
    .page_else .box-news-sub .box-body .cat-news:nth-child(3n+2) {
        margin-left: 15px;
        margin-right: 15px;
    }
    .page_else .box-news-sub .box-body .cat-news h4 {
        height: 97px;
        overflow: hidden;
    }
    /*==== đăng kí ====*/
    .img_dk {
        width: 16%;
    }
    /*==== danh sách thí sinh ====*/
    #listContestant .contestantItems {
        width: 31.5%;
        margin-right: 16px;
        margin-top: 5px;
    }
    #listContestant .contestantItems4 {
        margin-right: 16px !important;
    }
}

@media screen and (min-width:1025px) and (max-width:1200px) {
    /*==== danh sách tin ====*/
    .strike_cen img {
        width: 100%;
        height: auto;
    }
    .page_else .box-news-sub .box-body .cat-news {
        width: 32%;
        margin-bottom: 20px;
    }
    .page_else .box-news-sub .box-body .cat-news:nth-child(3n+2) {
        margin-left: 15px;
        margin-right: 15px;
    }
    .page_else .box-news-sub .box-body .cat-news h4 {
        height: 97px;
        overflow: hidden;
    }
    #listContestant .contestantItems {
        margin-right: 18px;
    }
    #listContestant .contestantItems_img_wrap .contestantItems_button_wrap {
        bottom: 0px;
        opacity: 1;
    }
}


/*==== phone ====*/

.description {
    position: fixed;
    left: 25px;
    bottom: 45px;
    z-index: 9;
    z-index: 100;
}

.phone_animation_circle_fill_img {
    height: 40px;
    width: 40px;
    background: rgba(236, 0, 140, 1);
    border-radius: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.phone_animation_circle_fill_img .fa {
    font-size: 22px;
    color: #ffffff !important;
    animation: img-phone 2s ease-in-out 0.5s infinite alternate;
    line-height: 40px;
}

@keyframes img-phone {
    0% {
        transform: rotate(-20deg);
    }
    20% {
        transform: rotate(20deg);
    }
    40% {
        transform: rotate(-20deg);
    }
    60% {
        transform: rotate(20deg);
    }
    80% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(20deg);
    }
}

.phone_animation_circle {
    border: 4px solid rgba(236, 0, 140, .5);
    ;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 10px;
    animation: phone 1s linear 0.3s infinite alternate;
}

.phone_animation_circle_1 {
    border: 4px solid rgba(236, 0, 140, .5);
    ;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 10px;
    animation: phone_1 1s linear 0.8s infinite alternate;
}

@keyframes phone {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    25% {
        transform: scale(1.3);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    75% {
        transform: scale(1.7);
        opacity: 0.3;
    }
    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}

@keyframes phone_1 {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    25% {
        transform: scale(1.3);
        opacity: 0.7;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    75% {
        transform: scale(1.7);
        opacity: 0.3;
    }
    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}

.phone_animation_circle_fill {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 10px;
    animation: phone-fix 0.6s linear 0.6s infinite alternate;
    background: rgba(236, 0, 140, .5);
    ;
}

@keyframes phone-fix {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    100% {
        transform: scale(1.2);
        opacity: 1;
    }
}

.description .fa-phone:before {
    padding-right: 0px;
}