﻿/*===== dang ky website=====*/

@font-face {
    font-family: Roboto-Regular;
    src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Italic;
    src: url('fonts/Roboto-Italic.ttf')
}

body {
    font-family: Roboto-Regular !important;
}

.f-nav {
    position: fixed !important;
}

.dang-ky-web-site {
    position: fixed;
    top: 0px;
    left: 0px;
    float: left;
    width: 100%;
    z-index: 999999;
    background: #18a4dd;
}

.dang-ky-web-site-content {
    width: 1170px;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 15px;
    font-size: 16px;
}

.dang-ky-left {
    float: left;
    padding: 9px;
    padding-left: 20px;
    position: relative;
}

.dang-ky-left:before {
    content: "";
    background: url("/theme/default/img/icon-back.png") no-repeat;
    width: 20px;
    height: 20px;
    left: 0px;
    position: absolute;
    top: 15px;
}

#button_compress {
    bottom: -20px !important;
    left: 0px;
}

.popup-dang-ky {
    background: url("images/Poppup.png") no-repeat top center;
}

.dang-ky-web-site-content a {
    color: white;
    display: inline-block;
    padding-right: 20px;
}

.dang-ky-web-site-content span {
    color: white;
}

.dang-ky-right {
    float: right;
    padding: 5px;
    padding-right: 0px;
}

a#IconSkype {
    position: relative;
    padding-right: 40px;
}

a#IconSkype:after {
    content: "\f17e";
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    top: 0px;
    right: 9px;
    font-size: 25px;
    color: #ffffff;
}

.btn {
    display: inline-block;
    padding: 6px 12px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 74px;
}


/*===== dang ky website=====*/

div#Webstore {
    float: left;
    width: 100%;
}

ul#tabs li {
    float: left;
    padding: 0px 10px;
    width: 10%;
    text-align: center;
}

ul#tabs {
    float: left;
    width: 100%;
}

.Webstore-content {
    float: left;
    width: 100%;
}

div#Webstore {
    float: left;
    width: 100%;
}

.img-hover img {
    width: 100%;
    height: auto;
}

.frame-box {
    display: block !important;
}

ul#tabs li {
    float: left;
    padding: 0px 10px;
    width: 10%;
    text-align: center;
}

ul#tabs {
    float: left;
    width: 100%;
}

.img-hover img {
    width: 100%;
    height: auto;
}


/*======== header ========*/

ul.nav-menu li a {
    font-family: Roboto-Regular !important;
    font-weight: 500;
}

body {
    overflow-x: hidden;
}

.header-all {
    width: 100%;
    height: auto;
}

.menu-all {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.box-marque {
    display: none;
}

.banner {
    width: 27%;
    float: left;
}

.nav-main {
    width: 73%;
    float: left;
    background: transparent;
    padding: 0px;
    margin-top: 16px;
    position: relative;
}

ul.nav-menu li ul.sub-menu {
    display: block !important;
    position: absolute;
    opacity: 0;
    top: 70px;
}

.sub-menu::after {
    clear: both;
    display: table;
    content: "";
}

.sub-menu li {
    display: none;
}

ul.nav-menu li ul.sub-menu::after {
    clear: both;
    display: table;
    content: "";
}

ul.nav-menu li ul.sub-menu::before {
    font-family: FontAwesome;
    content: "\f0de";
    color: #ffffff;
    position: absolute;
    font-size: 25px;
    top: -14px;
    left: 12%;
}

li.itop:hover ul.sub-menu {
    opacity: 1;
    top: 50px;
    transition: 0.6s;
}

li.itop:hover .sub-menu li {
    display: block;
}

li.itop:hover .sub-menu li a {
    font-family: Roboto-Regular !important;
    font-size: 14px;
}

.owl-theme .owl-controls .owl-buttons div {
    background: transparent;
}

.menu-all::after,
.header-all::after,
.header-all::before,
header::after,
.slider-show::after,
.slider-show::before {
    clear: both;
    display: table;
    content: "";
}

.owl-theme .owl-controls {
    margin-top: 0px;
}

.header-all {
    position: relative;
}

.box-adv-center .header {
    display: none;
}

.box-adv-center {
    position: absolute;
    top: 27%;
    right: 10%;
    width: 280px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 290px;
}

header {
    position: relative;
    z-index: 100;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #631005;
    border: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

ul.nav-menu li.active a,
ul.nav-menu li:hover a {
    background: transparent;
    border-top: none;
    color: #ffffff;
}

.adv-banner {
    position: relative;
    z-index: 1;
    top: 0px;
}

.adv-banner .box-adv-center .header,
{
    display: none;
}

.advItemName,
.owl-pagination {
    display: none;
}

.adv-banner .advItem img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

ul.nav-menu li a {
    padding: 0px 18px;
    font-size: 16px;
}

.slider-show {
    position: absolute !important;
    background: transparent !important;
    z-index: 100;
    top: 30%;
    left: 4%;
}

.box-adv-center .owl-prev,
.box-adv-center .owl-next {
    top: 110% !important;
}

.box-adv-center .owl-next {
    right: 36% !important;
    border-left: 1px solid #631005;
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 26px !important;
    color: #631005 !important;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 26px;
    color: #631005;
    font-weight: bold;
}

.box-adv-center .owl-prev {
    left: 36% !important;
    border-right: 1px solid #631005;
}

.nav-menu .itop>.sub-menu {
    padding: 0px 5px !important;
}

.slider-show .col-md-3 {
    padding: 10px;
    padding-bottom: 45px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.owl-theme .owl-controls .owl-buttons .owl-prev,
.owl-theme .owl-controls .owl-buttons .owl-next {
    top: 32%;
    border-radius: 0px;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 45%;
    /*border-right: 1px solid rgba(255, 255, 255, 0.5);*/
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 45%;
    /*border-left: 1px solid rgba(255, 255, 255, 0.5);*/
}

.owl-carousel .owl-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.owl-theme .owl-controls .owl-buttons div {
    padding: 3px 10px;
}

.adv-banner {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.owl-buttons::after,
.owl-buttons::before {
    clear: both;
    display: table;
    content: "";
}

.slides .owl-buttons {
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 84.3%;
}

.box-social-network .body-network {
    position: initial !important;
}


/*======== main ========*/

.dk-all .bookNowContent .form-group label.col-md-3 {
    display: none;
}

.dk-all .bookNowContent .form-group .col-md-9 {
    width: 100%;
}

.dk-all .bookNowContent .form-control {
    color: #974f27 !important;
}

.bookNowBtn .col-md-9 {
    width: 100% !important;
}

.dk-all .form-group::after {
    clear: both;
    display: table;
    content: "";
}

.contain-main .col-md-4 .box-news-home .box-news-list .header {
    padding: 0px 0px 10px 5px;
    border-left: none;
    background: transparent;
    color: #ffffff;
    font-size: 24px;
    font-family: Roboto-Bold !important;
    text-transform: uppercase;
    margin-top: 5px;
}

.box-news-hot .header {
    padding: 0px 0px 10px 0px;
    border-left: none;
    background: transparent;
    color: #ffffff;
    font-size: 24px;
    font-family: Roboto-Bold !important;
    text-transform: uppercase;
}

.modal-header .close {
    position: absolute;
    right: -31px;
    top: -31px;
    padding: 5px 17px;
    z-index: 10;
    background: #ffffff;
    border-radius: 100%;
}

.modal-header {
    position: relative;
    height: 10px;
}

.box-news-home .body-news {
    border: none;
}

.contain-main {
    background-image: url("images/back-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 25px;
    padding-bottom: 40px;
}

.contain-main .container {
    background: transparent;
}

.box-about-us {
    padding-top: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #8a5c41;
}

.box-face #div-iframe iframe {
    border: 0px !important;
    margin-top: -10px;
}

.box-about-us .header {
    padding: 0px 0px 10px 0px;
    color: #ffffff;
    font-size: 30px;
    font-family: Roboto-Regular;
    text-transform: uppercase;
}

.box-about-us .body-news {
    font-family: Roboto-Italic !important;
    color: #ffffff;
}

.main-content-bottom::after,
.main-content-bottom .col-md-4::after,
.main-content-bottom .col-md-4::before {
    clear: both;
    display: table;
    content: ""
}

.main-content-bottom {
    padding-top: 10px;
    width: 97.5%;
    margin: 0 auto;
    margin-top: 8px;
    border-top: 1px solid #8a5c41;
}

.main-content-bottom .col-md-4:nth-child(1) {
    padding-left: 0px;
}

.main-content-bottom .col-md-4:nth-child(3) {
    padding-right: 0px;
}

.header-face {
    padding: 0px 0px 10px 15px;
    border-left: none;
    background: transparent;
    color: #ffffff !important;
    font-size: 24px;
    font-family: Roboto-Bold !important;
    text-transform: uppercase;
}

.header-face {
    margin-top: 10px;
}

.box-news-hot ul.body-news li img {
    width: 100%;
    height: auto;
}

.box-news-hot ul.body-news li>a:nth-child(1) {
    width: 31%;
    float: left;
}

.box-news-hot ul.body-news li a.link-view {
    width: 67%;
    float: left;
    padding-left: 15px;
    font-size: 13px;
    color: #ffffff;
    font-family: Roboto-Regular !important;
}

.box-news-hot ul.body-news li {
    margin-bottom: 10px;
}

.main-content-bottom .box-news-home .box-news-list .body-news.clearfix .item-list.clearfix>a:nth-child(2),
.main-content-bottom .box-news-home .box-news-list .body-news.clearfix .item-list.clearfix .view-container,
.main-content-bottom .box-news-home .box-news-list .body-news.clearfix .item-list.clearfix .news-more {
    display: none;
}

.main-content-bottom .box-news-home .box-news-list .body-news.clearfix {
    padding: 0px;
}

.main-content-bottom .box-news-home .box-news-list .body-news.clearfix .item-list.clearfix {
    width: 33.3333%;
    float: left;
    clear: none;
    margin-bottom: 0px;
    padding: 0px 5px 16px 5px;
}

.box-face {
    padding-left: 15px;
    margin-bottom: 0px;
}

.box-news-home .body-news img {
    width: 100%;
    height: auto;
    margin-top: 0px;
}


/*======== footer ========*/

.footer-bottom .col-md-3 p {
    text-align: right;
}

.footer-bottom .col-md-3 p:nth-child(2) {
    padding-right: 40px;
}

footer {
    background-image: url("images/back-foot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

footer .container {
    background: transparent;
}

.footer-top .col-md-4 {
    padding-top: 20px;
}

.footer-top .col-md-4::after,
.footer-top .col-md-4::before {
    clear: both;
    display: table;
    content: "";
}

footer .box-top-video,
footer .box-adv-left {
    margin-top: 0px;
}

.footer-bottom {
    background-color: rgba(0, 0, 0, 0.42);
    border: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 0px !important;
    color: #974f27;
    font-size: 13px;
}

.footer-bottom a,
.footer-bottom p {
    color: #974f27;
    font-size: 13px;
    text-decoration: none;
}

.footer-bottom .col-md-9 a {
    font-family: Roboto-Italic;
}

footer .box-adv-left .header,
.header-maps,
footer .box-top-video .header {
    padding: 0px 0px 10px 0px;
    border-left: none;
    background: transparent;
    color: #ffffff;
    font-size: 24px;
    font-family: Roboto-Bold !important;
    text-transform: uppercase;
}

footer .box-adv-left img {
    width: 100%;
    height: auto;
}

.footer-top {
    padding-top: 10px;
    padding-bottom: 30px;
}

footer #list_player li a {
    display: none;
}

footer .box-top-video iframe {
    height: 200px;
}

.hotline-bot {
    padding: 5px 20px 4px 20px;
    background: #631005;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: fixed;
    bottom: 0px;
    z-index: 100;
    left: 25px;
}

.box-text-footer iframe {
    padding-left: 15px;
    padding-right: 15px;
}

.hotline-bot a {
    font-size: 16px;
    color: #ffffff;
}

.fa-phone {
    padding-right: 6px;
}

#toTop {
    position: fixed;
    z-index: 100000 !important;
    bottom: 40px;
    right: 30px;
    padding: 10px 12px;
    border-radius: 100%;
    border: 2px solid #631005;
}

.fa-arrow-circle-up {
    color: #631005;
    font-size: 30px;
}

.dk-all #ctl19_ucBookNow_lblthongbao {
    font-size: 14px !important;
}

.note {
    font-family: Roboto-Italic;
}

.on-off-dk {
    position: fixed;
    z-index: 100;
    bottom: 50%;
    left: 1px;
}


/*======== page else ========*/

#ctl18_ucLoadControl_ctl00_btnSend,
#ctl18_ucLoadControl_ctl00_btnReset {
    text-transform: uppercase;
    padding: 6px 15px;
    background: #631005;
    color: #ffffff;
}

#ctl18_ucLoadControl_ctl00_btnReset {
    margin-left: 10px;
}

.page-else .container {
    background: transparent;
}

.page-else {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
}

.advItemImg {
    width: 100%;
    height: auto;
}

.box-breadcumb ul li a {
    font-size: 15px;
    color: #333333;
    text-transform: uppercase;
}

.page-else .col-right-all .adv-group-Library {
    display: none;
}

.col-mid-all .pager-nav li.active>a.active,
.col-mid-all .pager-nav li.first_last>a.active {
    display: none;
}

ul.pager-nav {
    margin-right: 15px;
}

.box-sub-contact .txt-name-sub,
.col-mid-all .box-pro-sub .cate-header.sub-top .txt-name-sub,
.col-mid-all .box-library .txt-name-sub,
.col-mid-all .box-news-sub .txt-name-sub,
.box-news-detailt .cate-header.sub-top .txt-name-sub {
    text-transform: uppercase;
    font-size: 24px;
    font-family: Roboto-Bold;
    color: #631005;
    border-bottom: 2px solid #631005;
    padding-bottom: 10px;
    width: 100%;
}

.box-search {
    margin-top: 12px;
    width: 100%;
    border: 1px solid #631005;
    background: #631005;
}

.box-search #ctl18_ucSearchBox_txtSearch {
    width: 86%;
    float: left;
    border: none;
    height: 30px;
    padding: 3px 6px;
    background: #ffffff !important;
}

.box-search-product .cate-header.sub-top .txt-name-sub {
    font-size: 16px;
    color: #631005;
    font-family: Roboto-Regular;
}

.box-search #ctl18_ucSearchBox_btnSearch {
    width: 14%;
    float: left;
    display: block;
    line-height: 30px;
    background: #631005;
    text-align: center;
    color: #ffffff;
}

.col-mid-all .box-news-sub .txt-name-sub {
    margin-bottom: 20px;
}

.avd-intro img {
    width: 100%;
    height: auto;
}

.col-mid-all .box-pro-sub .txt-name-sub span {
    display: none;
}

.col-mid-all .box-pro-sub .txt-name-sub a {
    color: #631005;
    text-decoration: none;
}

.col-mid-all .box-pro-sub .cate-header.sub-top .txt-name-sub {
    padding-bottom: 44px !important;
}

.col-mid-all .box-pro-sub .cate-header.sub-top .txt-name-sub::after {
    clear: both;
    content: "";
    display: table;
}

.box-sub-contact .form-group::after {
    clear: both;
    display: table;
    content: "";
}

.box-sub-contact {
    padding-bottom: 20px;
}

.box-sub-contact .form-group {
    margin-bottom: 15px;
}

#ctl19_ucLoadControl_ctl00_btnSend,
#ctl19_ucLoadControl_ctl00_btnReset {
    padding: 10px 30px;
    float: right;
    background: #631005;
    color: #ffffff;
    font-size: 15px;
}

#ctl19_ucLoadControl_ctl00_btnReset {
    display: none;
}

.view-messenger {
    padding-left: 15px;
}

.view-messenger span {
    color: #631005;
    font-size: 15px;
    font-family: Roboto-Bold;
}

.col-right-all .box-library .advByGroup {
    display: none;
}

.box-breadcumb {
    margin-top: 10px;
}

.col-right-all .box-menu-left .header,
.col-right-all .box-top-video .header,
.col-right-all .box-library .txt-name-sub,
.box-news-priority .header {
    font-size: 20px;
    background: #631005;
    border-left: none;
    font-family: Roboto-Bold;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 9px 0px;
}

.box-news-priority .header {
    margin-top: 20px;
}

.box-news-priority .body-news .item-list .img-view img {
    width: 40%;
    height: auto;
    padding-right: 8px;
}

.box-news-priority .body-news .item-list .news-more {
    display: none;
}

.box-news-priority .body-news .item-list {
    margin-bottom: 10px;
}

.box-news-priority .body-news .item-list:nth-last-child(1) {
    margin-bottom: 0px !important;
}

.box-news-priority .body-news .item-list h5 a.link-view {
    color: #333333;
    font-family: Roboto-Bold;
    font-size: 13px;
}

.box-news-priority .body-news .item-list::after {
    clear: both;
    display: table;
    content: "";
}

.box-news-priority .body-news {
    padding-top: 15px;
}

.col-right-all .box-library .txt-name-sub,
.col-right-all .box-top-video .header {
    margin-top: 20px;
}

.col-right-all .box-library .box-library-list:nth-child(1) {
    display: none;
}

.box-online-visit .header {
    display: none;
}

#menu_left {
    padding-top: 5px;
}

.col-right-all .box-menu-left .menu-left-view li a {
    font-size: 16px;
    font-family: Roboto-Regular;
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
}

.col-right-all .box-menu-left .menu-left-view li:hover a {
    color: #631005;
}

.col-right-all .box-menu-left .menu-left-view li a::before {
    content: "\f111";
    font-size: 8px;
    color: #631005;
    padding-right: 6px;
    font-family: FontAwesome;
}

.col-right-all .box-menu-left .menu-left-view li {
    padding: 5px 0px;
    border-bottom: 1px solid #e5e5e5;
}

.col-right-all .box-top-video iframe {
    padding-top: 15px;
}

.col-mid-all .box-pro-sub .cate-header.sub-top::after,
.col-mid-all .box-pro-sub .cate-header.sub-top::before {
    clear: both;
    display: table;
    content: "";
}

.col-mid-all ul.product-list li .frame-img {
    height: auto;
    padding: 0px;
    float: none;
}

.col-mid-all ul.product-list li .frame-img img {
    width: 100% !important;
    height: auto !important;
}

.col-mid-all ul.product-list li {
    width: 31.5%;
    margin-right: 15px;
}

.col-mid-all ul.product-list li:hover {
    box-shadow: none;
    border: none;
}

.link-order,
.link-view-short {
    display: none !important;
}

.col-mid-all .itemProContent {
    background: #631005;
}

.col-mid-all .itemProContent a h3 {
    color: #ffffff;
    font-size: 16px !important;
    font-family: Roboto-Bold;
    text-align: left;
}

.itemProContent {
    padding: 5px 10px 15px 10px;
}

.col-mid-all .frame-content {
    font-size: 13px;
    color: #ffffff;
    font-family: Roboto-Regular;
}

.price-new,
.fb-comments.fb_iframe_widget,
.price,
.txt-code {
    display: none;
}

#areaComment::after,
#areaComment::before {
    clear: both;
    display: table;
    content: "";
}

#formComment .rows label {
    display: none;
}

#formComment .rows {
    margin-bottom: 15px;
}

#formComment .rows input,
#formComment .rows textarea {
    width: 100%;
    padding: 0px 10px;
}

#formComment .rows input {
    height: 36px;
}

#formComment .rows textarea {
    height: 100px;
}

#formComment .rows:nth-child(1) {
    padding-right: 15px;
}

#formComment .rows:nth-child(2) {
    padding-left: 15px;
}

#formComment .rows:nth-child(1),
#formComment .rows:nth-child(2) {
    width: 50%;
    float: left;
}

#formComment {
    margin-top: 15px;
}

#formComment #ctl18_ucLoadControl_ctl00_lbtSendComment {
    color: #ffffff;
    background: #631005;
    font-size: 15px;
    font-family: Roboto-Regular;
    padding: 8px 15px;
}

#formComment .rows:nth-child(3) {
    width: 100%;
}

#formComment .rows::after {
    clear: both;
    display: table;
    content: "";
}

.col-mid-all ul.product-list li .frame-img::after {
    display: table;
    content: "";
    clear: both;
}

ul.product-list li .frame-content {
    display: block;
}

.title-introduct-page {
    font-size: 24px !important;
    font-family: Roboto-Bold;
    color: #333333;
    margin-top: 20px;
}

.intro-bold {
    font-family: Roboto-Bold;
}

.img-intro-1,
.img-intro {
    width: 100% !important;
    height: auto !important;
}

.intro-img-all {
    width: 100%;
}

.intro-img-all .img {
    margin-right: 10px;
}

.im1 {
    width: 32%;
    float: left;
    margin-right: 10px;
}

.im1 img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 15px;
}

.fa-map-marker {
    padding-right: 5px;
}

.cl-fix {
    color: #631005;
}

.lh1 {
    font-size: 16px;
    font-family: Roboto-Bold;
    color: #631005;
}

.col-mid-all .box-sub-contact .form-group label.col-md-3 {
    display: none;
}

.col-mid-all .box-sub-contact .form-group .col-md-7 {
    width: 100% !important;
}

.col-mid-all .box-sub-contact .form-group .col-md-7 textarea {
    height: 200px;
    color: #333333;
}

.col-right-all .box-library .box-library-list:nth-child(2) a img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.col-right-all .box-library .box-library-list:nth-child(2) a.txt-name {
    font-size: 14px;
    color: #333333;
    font-family: Roboto-Bold;
}

.col-right-all .box-library .box-library-list {
    text-align: left;
}

.col-right-all .box-library .box-library-list {
    margin-right: 0px;
}

.box-breadcumb::after {
    clear: both;
    display: table;
    content: "";
}

.btn-add-card {
    background: #631005;
}

.btn-add-card a {
    color: #ffffff;
    font-family: Roboto-Bold !important;
}

.col-mid-all .box-library .box-library-list:nth-child(1) {
    display: none;
}

.col-mid-all .box-library .box-library-list .frame-img img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.col-mid-all .box-library .box-body.clearfix .box-library-list {
    width: 32%;
    float: left;
    text-align: left;
}

.col-mid-all .box-library .box-body.clearfix .box-library-list a {
    color: #333333;
    font-size: 14px;
}

.col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix {
    width: 100%;
    margin-bottom: 20px;
}

.col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix .clearfix {
    clear: none;
}

.col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix a img {
    padding-right: 20px;
}

.col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix h3 a {
    font-size: 16px;
    font-family: Roboto-Bold;
    color: #333333;
}

.col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix h3 {
    margin-bottom: 20px;
}

.col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix .news-more {
    display: none;
}

.col-mid-all .box-news-sub .box-body.homepage.clearfix .cat-news.clearfix h4 a {
    font-size: 16px;
    color: #333333;
    font-family: Roboto-Bold;
}

.col-mid-all .box-news-sub .box-body.homepage.clearfix .cat-news.clearfix h4 {
    margin-bottom: 20px;
}

.pro-detail .form-right h1 {
    color: #631005;
    ;
}

.text-price,
.form-right .color-text-second {
    display: none;
}

.box-pro-detailt-sub .form-right .text-line {
    display: none;
}

ul.tabs-pro li.active {
    color: #631005;
    border-bottom: 2px solid #631005;
}

.fa-plus {
    font-size: 20px;
    margin-top: 11px;
    padding-right: 15px;
    float: right;
    color: #ffffff;
}

.col-mid-all::after,
.col-right-all::after,
.col-right-all::before,
.col-mid-all::before {
    clear: both;
    display: table;
    content: "";
}

#ctl19_ucLoadControl_ctl00_pnlNewsOld .txt-name-sub,
#ctl19_ucLoadControl_ctl00_pnNewsOrther .txt-name-sub {
    font-family: Roboto-Bold;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 5px;
}

.avd-member img {
    width: 100%;
    height: auto;
}

.box-social-network::after,
.box-social-network::before,
.body-network::after {
    clear: both;
    display: none;
    content: "";
}

.box-social-network img {
    width: 18px !important;
    height: 18px !important;
}

.box-social-network {
    padding-left: 10px;
}

.box-face #div-iframe {
    height: 220px !important;
}

.box-social-network .header {
    color: #ffffff;
    vertical-align: middle;
    font-size: 13px;
    font-family: Roboto-Regular;
}

ul.breadcum {
    height: auto !important;
}

ul.breadcum li {
    height: auto !important;
}

ul.pager-nav li.active a {
    background: #631005 !important;
    color: #ffffff !important;
}

ul.pager-nav li a:hover {
    background: #631005 !important;
}

.col-right-all .box-library .box-library-list:nth-child(2) {
    display: block !important;
    width: 100%;
}

.col-right-all .box-library .box-library-list {
    display: none;
}

#ctl17_ucLoadControl_ctl00_btnSend,
#ctl17_ucLoadControl_ctl00_btnReset {
    text-transform: uppercase;
    color: #ffffff;
    background: #631005;
    padding: 8px 15px;
}

#ctl18_ucLoadControl_ctl00_pnlNewsOld .txt-name-sub,
#ctl18_ucLoadControl_ctl00_pnNewsOrther .txt-name-sub {
    color: #631005;
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #631005;
    width: 100%;
}


/*======== menu-mobile ========*/

@media screen and (min-width:1025px) {
    .menu-all {
        display: block !important;
    }
    .menu-mobile {
        display: none;
    }
    .fa-plus {
        display: none;
    }
    .box-sub-contact .form-group:nth-child(1),
    .box-sub-contact .form-group:nth-last-child(3),
    .box-sub-contact .form-group:nth-last-child(2),
    .box-sub-contact .form-group:nth-last-child(1) {
        width: 100% !important;
    }
    .box-sub-contact .form-group {
        width: 33.33333%;
        float: left;
    }
    .box-sub-contact .form-group:nth-last-child(2) .col-md-3:nth-child(1) {
        width: 60% !important;
    }
}

@media screen and (max-width:1024px) {
    #divAdvLeft,
    #divAdvRight {
        display: none !important;
    }
    .menu-all {
        position: fixed;
        top: 0px;
        width: 250px;
        height: 100%;
        background: #1f1f1e;
        overflow-y: scroll;
        z-index: 99999999 !important;
        margin: 0px;
        left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    ul.sub-menu li a::before {
        font-family: FontAwesome;
        content: "\f111";
        font-size: 8px;
        color: #ffffff;
        padding-right: 6px;
    }
    ul.nav-menu li {
        width: 100%;
    }
    .banner,
    .nav-main,
    .nav-menu li {
        width: 100%;
        text-align: center;
    }
    .banner {
        padding: 10px 0px;
        border-bottom: 1px dashed #ffffff;
    }
    .menu-mobile {
        display: block;
    }
    .nav-main #nav-main-menu li {
        display: block !important;
        width: 100% !important;
    }
    .itop .sub-menu {
        opacity: 1 !important;
        margin-left: 10px;
    }
    ul.sub-menu {
        position: relative !important;
        top: 0px !important;
        clear: both;
        margin-bottom: 10px;
        width: 100% !important;
        background: transparent !important;
        padding-right: 10px;
    }
    .sub-menu::before {
        color: transparent !important;
    }
    .itop:hover .sub-menu {
        border-left: 0px !important;
        border-bottom: 0px !important;
        display: block !important;
        background: transparent !important;
        opacity: 1 !important;
    }
    ul.nav-menu li:hover ul a {
        color: #ffffff !important;
    }
    ul.sub-menu li a:hover {
        background: transparent !important;
    }
    ul.nav-menu li a {
        text-align: left;
        color: #ffffff;
    }
    header {
        padding: 8px 15px;
        position: relative;
        top: 0px;
    }
    .menu-mobile {
        float: right;
    }
    .fa-bars {
        font-size: 26px;
        color: #ffffff;
    }
}

.dk-all {
    position: fixed;
    width: 300px;
    z-index: 1000 !important;
    bottom: 12.3%;
    background: #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    left: 0px;
}

.fa-times {
    float: right;
    padding-right: 15px;
}

.click-dk {
    position: fixed;
    z-index: 15;
    top: 25%;
    left: 0px;
    color: #ffffff;
    font-family: Roboto-Regular !important;
    background: #631005;
    padding: 5px;
    font-size: 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dk-all .form-group::after {
    display: table;
    content: "";
    clear: both;
}

.box-sub-book-now.bookNowForm {
    padding: 10px;
}

.dk-all .form-group {
    width: 100%;
    margin-bottom: 15px;
}

#ctl19_ucBookNow_txtnoidung {
    height: 100px !important;
}

#ctl17_ucBookNow_txtnoidung {
    height: 100px;
}

.bookNowNOP,
.bookNowDate {
    width: 50% !important;
    float: left;
}

.dk-all {
    border: 1px solid #631005;
}

.bookNowBtn .col-md-9 a {
    font-size: 14px;
    color: #ffffff;
    background: #631005;
    padding: 3px 128px;
    border-radius: 4px;
}

.header.bookNowTitle {
    display: none;
}

.dk-button {
    text-align: center;
    font-size: 18px;
    background: #631005;
    color: #ffffff;
    padding: 4px 0px 2px 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#ctl19_ucBookNow_btnSend {
    padding: 5px 128px;
    color: #ffffff;
    border-radius: 4px;
    background: #631005;
    font-size: 15px;
}

.modal-header .close {
    font-size: 50px;
    font-family: Roboto-Bold !important;
    color: #631005;
    opacity: 1;
}


/*======== mobile ========*/

@media screen and (max-width:480px) {
    .nav-menu .itop>.sub-menu>li {
        border-bottom: 0px;
    }
    .click-dk {
        top: 31.3%;
    }
    .dk-all {
        bottom: 15%;
    }
    .box-news-detailt .body-detailt img {
        width: 100% !important;
        height: auto !important;
    }
    .box-sub-contact .form-group {
        width: 100% !important;
    }
    .slides .owl-buttons {
        background: transparent;
        height: 70px;
        top: 32.5%;
    }
    .slides .owl-carousel img {
        height: auto !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 10% !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 10% !important;
    }
    .fa-chevron-left,
    .fa-chevron-right {
        color: #ffffff !important;
    }
    .owl-theme .owl-controls .owl-buttons div {
        opacity: 0.9 !important;
    }
    .box-adv-center {
        display: none;
    }
    .im1 {
        width: 100%;
        height: auto;
    }
    .col-mid-all .box-sub-contact .form-group .col-md-7 {
        width: 100% !important;
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list {
        width: 100%;
        margin-right: 0px;
    }
    .col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix a img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        padding-right: 0px;
    }
    .contain-main .col-md-12:nth-child(1) {
        padding-left: 0px;
        padding-right: 0px;
    }
    .box-breadcumb {
        height: auto;
    }
    .news-detailt img {
        width: 100%;
        height: auto;
    }
    .main-content-bottom .col-md-4 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .header-face,
    .box-face {
        padding-left: 0px;
    }
    .body-video #myElement iframe {
        height: 240px;
    }
    .col-mid-all ul.product-list li {
        width: 100%;
        margin-right: 0px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 20%;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 20%;
    }
    .footer-top iframe {
        height: 260px;
    }
    .hotline-bot {
        bottom: 0px;
        left: 0px;
    }
    .dk-all {
        left: 1px;
    }
    #toTop {
        bottom: 70px;
        right: 15px;
    }
    .dk-button {
        font-size: 15px;
    }
    header {
        z-index: 1000;
    }
    .box-sub-contact .txt-name-sub,
    .col-mid-all .box-pro-sub .cate-header.sub-top .txt-name-sub,
    .col-mid-all .box-library .txt-name-sub,
    .col-mid-all .box-news-sub .txt-name-sub {
        font-size: 18px !important;
    }
    .footer-bottom .col-md-3 p {
        text-align: left;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev,
    .owl-theme .owl-controls .owl-buttons .owl-next {
        top: 18%;
    }
}

@media screen and (min-width:481px) and (max-width:540px) {
    .owl-theme .owl-controls .owl-buttons .owl-prev,
    .owl-theme .owl-controls .owl-buttons .owl-next {
        top: 18%;
    }
    .footer-bottom .col-md-3 p {
        text-align: left;
    }
    .box-news-detailt .body-detailt img {
        width: 100% !important;
        height: auto !important;
    }
    .box-sub-contact .form-group {
        width: 100% !important;
    }
    .im1 {
        width: 48%;
        float: left;
        height: auto;
    }
    .slides .owl-buttons {
        background: transparent;
        height: 70px;
        top: 32.5%;
    }
    .slides .owl-carousel img {
        height: auto !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 10% !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 10% !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 20%;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 20%;
    }
    .fa-chevron-left,
    .fa-chevron-right {
        color: #ffffff !important;
    }
    .owl-theme .owl-controls .owl-buttons div {
        opacity: 0.9 !important;
    }
    .box-adv-center {
        display: none;
    }
    .main-content-bottom .col-md-4 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .body-video #myElement iframe {
        height: 260px;
    }
    .header-face,
    .box-face {
        padding-left: 0px;
    }
    .col-mid-all ul.product-list li {
        width: 48%;
    }
    .col-mid-all ul.product-list li:nth-child(even) {
        margin-right: 0px !important;
    }
    .footer-top iframe {
        height: 260px;
    }
    .news-detailt img {
        width: 100%;
        height: auto;
    }
    .col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix a img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        padding-right: 0px;
    }
    .col-mid-all .box-sub-contact .form-group .col-md-7 {
        width: 100% !important;
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list {
        width: 48.5%;
        float: left;
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list:nth-child(odd) {
        margin-right: 0px;
    }
}

@media screen and (min-width:541px) and (max-width:640px) {
    .box-news-detailt .body-detailt img {
        width: 100% !important;
        height: auto !important;
    }
    .im1 {
        width: 30%;
        float: left;
        height: auto;
    }
    .slides .owl-buttons {
        background: transparent;
        height: 70px;
        top: 32.5%;
    }
    .slides .owl-carousel img {
        height: auto !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 10% !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 10% !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 20%;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 20%;
    }
    .fa-chevron-left,
    .fa-chevron-right {
        color: #ffffff !important;
    }
    .owl-theme .owl-controls .owl-buttons div {
        opacity: 0.9 !important;
    }
    .box-adv-center {
        display: none;
    }
    .main-content-bottom .col-md-4 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .body-video #myElement iframe {
        height: 260px;
    }
    .header-face,
    .box-face {
        padding-left: 0px;
    }
    .footer-top iframe {
        height: 260px;
    }
    .col-mid-all ul.product-list li {
        width: 48.5%;
    }
    .col-mid-all ul.product-list li:nth-child(even) {
        margin-right: 0px !important;
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list {
        width: 48.5%;
        float: left;
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list:nth-child(odd) {
        margin-right: 0px;
    }
    .box-sub-contact .form-group:nth-child(1),
    .box-sub-contact .form-group:nth-last-child(3) {
        width: 100% !important;
    }
    .box-sub-contact .form-group {
        width: 50%;
        float: left;
    }
}

@media screen and (min-width:641px) and (max-width:768px) {
    .main-content-bottom .box-news-home .box-news-list .body-news.clearfix .item-list.clearfix {
        width: 20%;
    }
    .box-news-hot ul.body-news li {
        width: 50%;
        float: left;
    }
    .box-news-detailt .body-detailt img {
        width: 100% !important;
        height: auto !important;
    }
    .im1 {
        width: 30%;
        float: left;
        height: auto;
    }
    .slides .owl-buttons {
        background: transparent;
        height: 70px;
        top: 34.5%;
    }
    .slides .owl-carousel img {
        height: auto !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 10% !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 10% !important;
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 20%;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 20%;
    }
    .fa-chevron-left,
    .fa-chevron-right {
        color: #ffffff !important;
    }
    .owl-theme .owl-controls .owl-buttons div {
        opacity: 0.9 !important;
    }
    .box-adv-center {
        display: none;
    }
    .main-content-bottom .col-md-4 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .body-video #myElement iframe {
        height: 300px;
    }
    .header-face,
    .box-face {
        padding-left: 0px;
    }
    .footer-top iframe {
        height: 300px;
    }
    .col-mid-all ul.product-list li {
        margin-right: 11px;
    }
    .box-news-priority .body-news .item-list {
        width: 48%;
        margin-right: 10px;
        float: left;
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list {
        margin-right: 8px;
    }
    .box-sub-contact .form-group:nth-child(1),
    .box-sub-contact .form-group:nth-last-child(3) {
        width: 100% !important;
    }
    .box-sub-contact .form-group {
        width: 50%;
        float: left;
    }
}

@media screen and (min-width:769px) and (max-width:991px) {
    .main-content-bottom .box-news-home .box-news-list .body-news.clearfix .item-list.clearfix {
        width: 25%;
    }
    .box-sub-contact .form-group:nth-child(1),
    .box-sub-contact .form-group:nth-last-child(3) {
        width: 100% !important;
    }
    .box-sub-contact .form-group {
        width: 50%;
        float: left;
    }
    .im1 {
        width: 31%;
    }
    .main-content-bottom .col-md-4 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .body-video #myElement iframe {
        height: 300px;
    }
    .header-face,
    .box-face {
        padding-left: 0px;
    }
    .footer-top iframe {
        height: 300px;
    }
    .col-mid-all ul.product-list li {
        margin-right: 10px;
    }
    .box-news-hot ul.body-news li {
        width: 48%;
        margin-right: 10px;
        margin-bottom: 15px;
    }
    .col-right-all #myElement iframe {
        height: 200px !important;
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list {
        margin-right: 8px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .col-mid-all ul.product-list li {
        margin-right: 10px;
    }
    .im1 {
        width: 31%;
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list {
        margin-right: 8px;
    }
}

@media screen and (width:1024px) {
    .box-adv-center {
        top: 14%;
    }
    .slides .owl-buttons {
        top: 79.5%;
    }
}

@media screen and (min-width:1200px) {
    .nav-menu .itop>.sub-menu>li {
        border-bottom: 1px solid #e5e5e5;
    }
}

@media screen and (min-width:1366px) {
    .main-content-bottom .col-md-4:nth-child(2) {
        padding-right: 0px;
        padding-left: 30px;
    }
    .main-content-bottom .col-md-4:last-child {
        padding-right: 0px;
        padding-left: 64px;
    }
    #divAdvLeft,
    #divAdvRight {
        z-index: 10;
    }
    #divAdvLeft {
        left: 2px !important;
    }
    #divAdvRight img {
        right: -21px !important;
        position: absolute;
    }
}