iframe[id^="oauth2relay"] {
    position: fixed !important;
}

body {
    letter-spacing: normal;
    line-height: 1.42857;
    margin: 0;
    text-decoration: none;
    text-transform: none;
    word-spacing: normal;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd,
form,
blockquote,
code,
pre {
    margin: 0;
    padding: 0;
}

h2,
h3,
h4,
h5 {
    font-size: 12px;
}

img {
    border: 0px;
}

a {
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.fcn_left {
    float: left;
}

.fcn_right {
    float: right;
}

.full-width {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    float: left;
}

.container-site {
    width: 1000px;
    height: auto;
    padding: 0px;
    margin: auto;
}

header {
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    float: left;
}

.banner {
    float: left;
}

ul.menu-top {
    float: right;
}

ul.menu-top li {
    padding: 5px 10px;
    float: left;
}

.box-search {
    margin-top: 10px;
    float: right;
    clear: right;
}

ul.ul-language {
    float: right;
}

ul.ul-language li {
    padding: 5px 10px;
    float: left;
}

ul.box-link-acount {
    margin-left: 10px;
    float: right;
}

ul.box-link-acount li {
    padding: 5px 10px;
    float: left;
}

.header-box-cart {
    float: right;
    clear: right;
}

.header-box-cart .icon-cart {
    font-size: 20px;
}

.nav-main {
    width: 100%;
    height: 40px;
    background: #0095d6;
    padding: 0px 2px;
    float: left;
}

ul.nav-menu {
    width: 100%;
    height: auto;
    float: left;
}

ul.nav-menu li {
    width: auto;
    height: auto;
    position: relative;
    float: left;
}

ul.nav-menu li a {
    float: left;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    margin: 0;
    padding: 0 19px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    width: auto;
}

ul.nav-menu li:hover a {
    background: #ffffff;
    border-top: 2px solid #ffd401;
    color: #0095d6;
    line-height: 40px;
}

ul.nav-menu li:hover ul a {
    background: none;
    border-top: 0px solid #ffd401 !important;
    color: #000000;
    font-weight: normal;
}

ul.nav-menu li.active a {
    background: #ffffff none repeat scroll 0 0;
    border-top: 2px solid #ffd401;
    color: #0095d6;
    line-height: 40px;
}

ul.nav-menu li ul.sub-menu {
    display: none;
}

ul.nav-menu li:hover ul.sub-menu {
    width: 230px;
    height: auto;
    position: absolute;
    background: #ffffff;
    top: 40px;
    left: -1px;
    display: block;
    z-index: 9999;
    padding: 0px;
    border: 1px solid #dfdfdf;
    border-top: 0px;
    float: left;
}

ul.sub-menu li {
    width: 100%;
    height: auto;
    float: left;
}

ul.sub-menu li a {
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    color: #000000;
    text-transform: none;
    float: left;
}

ul.sub-menu li a:hover {
    background: #dfdfdf !important;
    border: 0px !important;
    line-height: 35px;
}

.box-marque {
    width: 100%;
    height: auto;
    line-height: 23px;
    background: #f8f8f8;
    padding: 5px;
    font-style: italic;
    float: left;
}

.slides {
    width: 100%;
    height: auto;
    float: left;
}

.owl-buttons {
    display: none;
}

.slides .owl-carousel img {
    /*width: 100%;
    height: auto;*/
    float: left;
}

.body-container {
    width: 100%;
    height: auto;
    padding-top: 20px;
    float: left;
}

.body-container .col-left {
    width: 222px;
    height: auto;
    float: left;
}

.body-container .col-left .box-login {
    width: 100%;
    height: auto;
    float: left;
}

.body-container .col-left .box-login .header {
    width: 100%;
    height: auto;
    padding: 9px 10px;
    border-left: 5px solid #f74d88;
    background: #0095d6;
    color: #ffffff;
    font-weight: bold;
    float: left;
}

.body-container .col-left .box-login .btnLogin {
    border-radius: 3px;
    color: #ffffff;
    display: block;
    font-weight: bold;
    height: 30px;
    left: 40px;
    line-height: 30px;
    padding: 0 15px;
    background: #f74d88;
    width: auto;
    float: left;
}

.body-container .col-left .box-login .lis-group {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    float: left;
}

.box-list-category {
    width: 100%;
    height: auto;
    float: left;
}

.box-list-category .header a {
    width: 100%;
    height: auto;
    padding: 9px 10px;
    border-left: 5px solid #f74d88;
    background: #0095d6;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    float: left;
}

ul.nav-menuleft {
    width: 100%;
    height: auto;
    background: #f8f8f8;
    float: left;
}

ul.nav-menuleft li {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}

ul.nav-menuleft li a {
    width: 100%;
    height: auto;
    color: #000;
    border-bottom: 1px solid #eee;
    padding: 8px 10px;
    float: left;
}

ul.nav-menuleft li.last a {
    border-bottom: 0px solid #eee;
}

ul.nav-menuleft li ul {
    display: none;
}

ul.nav-menuleft li:hover ul {
    width: 200px;
    height: auto;
    position: absolute;
    background: #f8f8f8;
    display: block;
    left: 222px;
}

.box-support,
.box-news-hot,
.box-pro-sale,
.box-adv-left,
.box-face,
.box-online-visit,
.box-top-video,
.box-fillter-attributes {
    width: 100%;
    height: auto;
    margin-top: 10px;
    float: left;
}

.box-support .header,
.box-news-hot .header,
.box-pro-sale .header,
.box-adv-left .header,
.box-online-visit .header,
.box-top-video .header,
.box-fillter-attributes .header {
    width: 100%;
    height: auto;
    padding: 9px 10px;
    border-left: 5px solid #f74d88;
    background: #0095d6;
    color: #ffffff;
    font-weight: bold;
    float: left;
}

.box-news-hot ul.body-news,
.box-pro-sale ul.body-pro,
.box-adv-left ul.body-adv,
.box-online-visit .body-online-visit {
    width: 100%;
    height: auto;
    float: left;
}

.box-news-hot ul.body-news li,
.box-pro-sale ul.body-pro li,
.box-adv-left ul.body-adv li {
    width: 100%;
    height: auto;
    float: left;
}

.box-news-hot ul.body-news li img,
.box-pro-sale ul.body-pro li img {
    margin-right: 4px;
    width: 60px;
}

.body-container .col-mid {
    width: 778px;
    height: auto;
    padding-left: 15px;
    float: left;
}

.body-container .col-mid .box-adv-right {
    width: 100%;
    height: auto;
    float: left;
}

.body-container .col-mid .box-adv-right .header {
    display: none;
}

.body-container .col-mid .box-adv-right ul.body-adv {
    width: 100%;
    height: auto;
    float: left;
}

#histats_counter {
    text-align: center;
    margin-top: 10px;
}

.box-product-new {
    width: 100%;
    height: auto;
    float: left;
}

.box-product-new .header {
    width: 100%;
    height: auto;
    padding: 9px 10px;
    border-left: 5px solid #f74d88;
    background: #0095d6;
    color: #ffffff;
    font-weight: bold;
    float: left;
}

ul.product-list {
    width: 100%;
    height: auto;
    margin-top: 20px;
    float: left;
}

ul.product-list li {
    background: #ffffff;
    float: left;
    height: auto;
    padding-bottom: 20px;
    width: 25%;
}

ul.product-list li:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    position: relative;
}

ul.product-list li .frame-img {
    width: 100%;
    height: 180px;
    text-align: center;
    padding: 5px;
    float: left;
}

ul.product-list li .frame-img img {
    width: 80%;
    height: auto;
}

ul.product-list li .pro-name {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 13px;
    display: table;
    position: relative;
    text-decoration: none;
    float: left;
}

ul.product-list li .pro-name span {
    display: table-cell;
    vertical-align: middle;
}

ul.product-list li .price {
    width: 100%;
    height: 20px;
    font-weight: bold;
    text-decoration: line-through;
    line-height: 20px;
    text-align: center;
    float: left;
}

ul.product-list li .price-new {
    width: 100%;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: #f74d88 !important;
    float: left;
}

ul.product-list li .link-order {
    display: none;
}

ul.product-list li .frame-content,
ul.product-list li .link-views {
    display: none;
}

.body-container .col-mid .cate-header {
    border-bottom: 1px solid #efefef;
    float: left;
    height: 36px;
    margin-top: 35px;
    width: 100%;
}

.sub-top {
    margin-top: 10px !important;
}

.body-container .col-mid .cate-header .txt-name-sub {
    border-bottom: 2px solid #ffd401;
    color: #0095d6;
    float: left;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    padding-right: 30px;
    text-transform: uppercase;
    width: auto;
}

.body-container .col-mid .cate-header .txt-name-sub span {
    color: #cecece;
    font-weight: normal;
    margin-left: 15px;
    text-transform: none;
}

.box-footer {
    width: 100%;
    height: auto;
    background: #0095d6;
    padding: 10px;
    color: #ffffff !important;
    margin-top: 15px;
    border-top: 2px solid #f74d88;
    float: left;
}

.box-social-network {
    width: 100%;
    height: auto;
    z-index: 999;
    position: relative;
    float: left;
}

.box-social-network .body-network {
    position: absolute;
    top: 30px;
    right: 10px;
}

.box-social-network .header {
    padding: 5px;
    float: left;
}

.box-social-network ul.body-social {
    float: left;
}

.box-social-network ul.body-social li {
    padding: 5px;
    float: left;
}

.box-sub-contact {
    width: 100%;
    height: auto;
    float: left;
}

.box-sub-contact .cate-header {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.box-sub-contact .box-body-sub {
    width: 100%;
    height: auto;
    float: left;
}

.box-pro-sub {
    width: 100%;
    height: auto;
    float: left;
}

.box-pro-sub .cate-header .drop-fillter {
    float: right;
    height: 36px;
    margin-top: 5px;
    width: auto;
}

.box-pro-sub .cate-header .drop-fillter .btn-default {
    background-color: transparent;
    border: 0 none;
    font-size: 12px;
    font-weight: bold;
    margin-top: -2px;
    padding: 6px 0 6px 25px;
}

.box-pro-sub .cate-header .txt-name-sub {
    border-bottom: 2px solid #ffd401;
    color: #0095d6;
    float: left;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    padding-right: 30px;
    text-transform: uppercase;
    width: auto;
}

.box-pro-sub .cate-header .txt-name-sub span {
    color: #cecece;
    font-weight: normal;
    margin-left: 15px;
    text-transform: none;
}

ul.pager-nav {
    width: auto;
    height: auto;
    margin-top: 15px;
    float: right;
}

ul.pager-nav li {
    float: left;
}

ul.pager-nav li a {
    width: auto;
    height: auto;
    padding: 8px 13px;
    background: #f8f8f8;
    margin-left: 5px;
    border-radius: 3px;
    color: #000000;
    text-decoration: none;
    float: left;
}

ul.pager-nav li.active a {
    background: #0095d6;
    color: #ffffff;
}

ul.pager-nav li a:hover {
    background: #0095d6;
    color: #ffffff;
}

.pro-detail {
    width: 100%;
    height: auto;
    margin-top: 15px;
    float: left;
}

.pro-detail .form-left {
    width: 50%;
    height: auto;
    float: left;
}

#sync1 .item {
    border-radius: 0px;
    color: #ffffff;
    margin: 0px;
    text-align: center;
}

#sync1 .item img {
    width: 100%;
    height: auto;
    float: left;
}

#sync2 .item {
    border-radius: 0px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    border: 2px solid #f8f8f8;
    margin-right: 3px;
    float: left;
}

#sync2 .item:hover {
    border: 2px solid #0095d6;
}

#sync2 .synced .item {
    border: 2px solid #0095d6;
}

#sync2 .item img {
    width: 100%;
    height: auto;
    float: left;
}

.owl-buttons {
    display: block !important;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    background-position: center center;
    left: 0;
    position: absolute;
    top: 22px;
    display: block;
    font-size: 16px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    background-position: center center;
    right: 0;
    position: absolute;
    top: 22px;
    display: block;
    font-size: 16px;
}

.owl-theme .owl-controls .owl-buttons div {
    background: #0095d6;
}

.pro-detail .form-right {
    width: 50%;
    height: auto;
    padding-left: 15px;
    float: left;
}

.pro-detail .form-right h1 {
    width: 100%;
    height: auto;
    font-size: 23px;
    color: #0095d6;
    border-bottom: 1px solid #efefef;
    padding-bottom: 7px;
    float: left;
}

.pro-detail .form-right .text-line {
    width: 100%;
    height: auto;
    margin-top: 7px;
    font-weight: bold;
    float: left;
}

.pro-detail .form-right .info-sort {
    width: 100%;
    height: auto;
    margin-top: 7px;
    float: left;
}

.pro-detail .form-right .text-line .addthis {
    width: auto;
    height: auto;
    float: right;
}

.pro-detail .form-right .text-price {
    width: 100%;
    height: auto;
    margin-top: 7px;
    font-weight: bold;
    float: left;
}

.pro-detail .form-right .text-price span {
    font-size: 25px;
}

.input-card {
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    border-radius: 3px;
    width: 50%;
}

.price-total {
    font-size: 27px;
}

.btn-add-card {
    width: 100%;
    height: 32px;
    line-height: 32px;
    background: #ffd401;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    float: left;
}

.color-text-second {
    color: #f74d88 !important;
}

.boder-color {
    border-color: #0095d6 !important;
}

.order-now {
    background: #f74d88 none repeat scroll 0 0;
}

ul.tabs-pro {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    width: 100%;
    border-bottom: 2px solid #efefef;
    float: left;
}

ul.tabs-pro li {
    display: block;
    float: left;
    font-weight: 400;
    margin-right: 5px;
    padding: 7px 14px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: -2px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
}

ul.tabs-pro li:hover {
    color: #0095d6;
    border-bottom: 2px solid #0095d6;
}

ul.tabs-pro li.active {
    color: #0095d6;
    border-bottom: 2px solid #0095d6;
}

.tab_content {
    width: 100%;
    height: auto;
    margin-top: 15px;
    text-align: justify;
    float: left;
}

.box-library-list {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    clear: none;
    cursor: default;
    float: left;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
}

.box-library-list:hover {
    background-color: #fff;
    border: 1px solid #0095d6;
}

.box-top-video iframe {
    width: 100% !important;
    height: auto;
    float: left;
}

.box-product-hot,
.box-product-motion {
    width: 100%;
    height: auto;
    margin-top: 10px;
    float: left;
}

.box-product-hot .header,
.box-product-motion .header {
    width: 100%;
    height: auto;
    padding: 9px 10px;
    border-left: 5px solid #f74d88;
    background: #0095d6;
    color: #ffffff;
    font-weight: bold;
    float: left;
}

.box-product-hot ul.body-pro,
.box-product-motion ul.body-pro {
    width: 100%;
    height: auto;
    float: left;
}

.box-product-hot ul.body-pro li,
.box-product-motion ul.body-pro li {
    width: 100%;
    height: auto;
    float: left;
}

.box-product-hot ul.body-pro li img,
.box-product-motion ul.body-pro li img {
    margin-right: 4px;
    width: 60px;
}

ul.breadcum {
    width: 100%;
    height: 30px;
    float: left;
}

ul.breadcum li {
    width: auto;
    height: 30px;
    line-height: 30px;
    float: left;
}

ul.breadcum li span {
    float: right;
    height: 30px;
    line-height: 27px;
    padding-right: 4px;
    width: auto;
}

ul.breadcum li a {
    color: #000000;
    padding-right: 7px;
}

ul.breadcum li a.active {
    color: #f74d88 !important;
}

.body-container .col-mid-pro {
    width: 778px;
    height: auto;
    padding-left: 0px;
    padding-right: 15px;
    float: left;
}

.body-container .col-right-sub {
    width: 222px;
    height: auto;
    float: right;
}

.frame-box {
    position: relative;
}

.frame-percent {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 100%;
    background: #f74d88;
    color: #ffffff;
    z-index: 999;
}

.box-news-home,
.box-news-index {
    width: 100%;
    height: auto;
    margin-top: 5px;
    float: left;
}

.box-news-home .header {
    background: #0095d6 none repeat scroll 0 0;
    border-left: 5px solid #f74d88;
    color: #ffffff;
    float: left;
    font-weight: bold;
    height: auto;
    padding: 9px 10px;
    margin-top: 15px;
    width: 100%;
}

.box-news-home .header a {
    color: #ffffff;
}

.box-news-home .body-news {
    width: 100%;
    height: auto;
    border: 1px solid #eee;
    border-top: 0px;
    padding: 10px;
    float: left;
}

.box-news-home .body-news .item-list {
    margin-bottom: 10px;
}

.box-news-home .body-news .item-list:last-child {
    margin-bottom: 0px;
}

.box-news-home .body-news h4 a {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    color: #0095d6;
    margin: 1px 0 4px;
}

.box-news-home .body-news img {
    margin-right: 8px;
    margin-top: 2px;
    max-width: 130px !important;
}

.box-news-home .body-news .news-more {
    float: right;
}

.box-news-home .body-news .news-more a {
    color: #f74d88;
}

.box-news-index .event-index {
    width: 100%;
    height: auto;
    margin-top: 10px;
    float: left;
}

.box-news-index .event-index .last-news {
    width: 300px;
    height: auto;
    padding-left: 10px;
    float: right;
}

.box-news-index .event-index .last-news .header {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #0095d6;
    background: #eee;
    padding: 0px 10px;
    font-weight: bold;
    float: left;
}

.box-news-index .event-index .last-news .header span {
    float: right;
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
}

ul.ul-last-news {
    width: 100%;
    height: auto;
    margin-top: 10px;
    float: left;
}

ul.ul-last-news li a {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    color: #000000;
    float: left;
}

ul.ul-last-news li a:hover {
    font-style: italic;
}

.views-priority {
    width: 463px;
    height: 280px;
    overflow: hidden;
    float: left;
}

.views-priority img {
    width: 100%;
    height: auto;
    float: left;
}

.views-priority .owl-controls {
    bottom: 35px;
    position: absolute;
    right: 10px;
    width: 100%;
}

.views-priority .item {
    width: 100%;
    position: relative;
    height: 280px;
    float: left;
}

.views-priority .view-face {
    bottom: 0px;
    position: absolute;
    height: 100px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.views-priority .view-face h4 a {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 7px;
    float: left;
    font-weight: bold;
    margin-top: 5px;
    width: 100%;
}

.views-priority .view-face p {
    color: #ffffff;
    font-size: 12px;
    font-style: italic;
}

.box-news-index .topical {
    height: auto;
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.box-news-index .topical .frame-top {
    width: 20%;
    height: auto;
    padding: 0px 5px;
    float: left;
}

.box-news-index .topical .frame-top .view-img {
    width: 100%;
    height: 100px;
    overflow: hidden;
    float: left;
}

.box-news-index .topical .frame-top .view-img img {
    max-width: 100%;
    height: auto;
    float: left;
}

ul.product-list li .link-view-short {
    display: none;
}

.modal-dialog {
    margin-top: 100px;
}

.modal-content {
    border-radius: 3px !important;
}

.modal-content {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
    padding: 0px;
    border-bottom: 0px solid #e5e5e5;
}

.modal-header .close {
    margin-right: 10px;
    margin-top: 5px;
}

.modal-header h4 {
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
}

#loadViewPro {
    min-height: 388px;
}

.modal-body {
    padding: 10px;
    padding-top: 0px;
}

.pro-detail-view {
    float: left;
    height: auto;
    margin-top: 0px;
    width: 100%;
}

.pro-detail-view .form-left {
    width: 36%;
    height: auto;
    float: left;
}

.pro-detail-view .form-right {
    float: left;
    height: auto;
    padding-left: 10px;
    width: 64%;
}

.pro-detail-view .form-right h4 {
    border-bottom: 1px solid #efefef;
    color: #0095d6;
    float: left;
    font-size: 20px;
    height: auto;
    padding-bottom: 7px;
    width: 100%;
}

.pro-detail-view .form-left .view-index img {
    width: 100%;
    height: auto;
    float: left;
}

.pro-detail-view #sync1 .owl-wrapper-outer {
    border: 0px solid #0095d6;
    margin-bottom: 5px;
}

.pro-detail-view .form-right .text-line {
    width: 100%;
    height: auto;
    margin-top: 7px;
    font-weight: bold;
    float: left;
}

.pro-detail-view .form-right .info-sort {
    width: 100%;
    max-height: 170px;
    margin-top: 7px;
    float: left;
}

.pro-detail-view .form-right .text-line .addthis {
    width: auto;
    height: auto;
    float: right;
}

.pro-detail-view .form-right .text-price {
    width: 100%;
    height: auto;
    margin-top: 7px;
    font-weight: bold;
    float: left;
}

.pro-detail-view .form-right .text-price span {
    font-size: 25px;
}

ul.product-list li:hover .link-view-short {
    width: auto;
    height: 28px;
    line-height: 28px;
    color: #ffffff;
    top: 90px;
    right: 15px;
    display: block;
    padding: 0px 10px;
    position: absolute;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #0095d6;
    cursor: pointer;
}

ul.product-list li:hover .link-order {
    width: auto;
    height: 28px;
    line-height: 28px;
    color: #ffffff;
    top: 90px;
    left: 15px;
    display: block;
    padding: 0px 10px;
    position: absolute;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f74d88;
    cursor: pointer;
}

.table-cart-list {
    width: 100%;
    height: auto;
    margin-top: 10px;
    float: left;
}

.table-cart-list thead {
    width: 100%;
    height: 35px;
    padding: 3px;
    background: #0095d6;
}

.table-cart-list .view-img-cart {
    width: 100px;
}

.box-cart-pop {
    width: 100%;
    height: auto;
    float: left;
}

.box-cart-pop {
    width: 100%;
    height: auto;
    float: left;
}

.box-cart-pop .row-list-header {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #0095d6;
    margin-bottom: 4px;
    float: left;
}

.box-cart-pop .table-bordered .view-img-cart {
    width: 60px;
}

.btn-add-card-op {
    width: auto;
    height: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    padding: 0px 12px;
    float: left;
}

.view-price {
    color: #f74d88;
    font-weight: bold;
}

.btn-add-card-btn {
    border: 0px;
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.div-addthis {
    width: 100%;
    height: auto;
    overflow: hidden !important;
    margin-top: 20px;
    float: left;
}

.div-addthis-news {
    margin-top: 20px;
    /*margin-right: -30px;*/
    float: right;
}

.box-news-detailt {
    width: 100%;
    height: auto;
    float: left;
}

.box-news-detailt .body-detailt {
    width: 100%;
    height: auto;
    margin-top: 10px;
    float: left;
}

.box-news-detailt .news-img-detailt {
    display: none;
}

.box-support .box-body {
    width: 100%;
    height: auto;
    float: left;
}

.box-support .box-body .list-cate-online {
    width: 100%;
    height: auto;
    float: left;
}

.box-support .box-body .list-cate-online .header-cate {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #ffd401;
    color: #ffffff;
    padding: 0px 10px;
    font-weight: bold;
    float: left;
}

.box-support .box-body .list-cate-online .list-online {
    width: 100%;
    height: auto;
    background: #f8f8f8;
    padding: 10px;
    float: left;
}

.box-support .box-body .list-cate-online .list-online .header-support {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-style: italic;
    float: left;
}

.box-support .box-body .list-cate-online .list-online .list-item {
    width: 100%;
    height: auto;
    float: left;
}

.box-menu-left {
    width: 100%;
    height: auto;
    margin-top: 10px;
    float: left;
}

ul.menu-left-view {
    width: 100%;
    height: auto;
    font-size: 12px;
    float: left;
}

ul.menu-left-view h3 {
    font-size: 12px;
}

.box-menu-left .header {
    width: 100%;
    height: auto;
    padding: 9px 10px;
    border-left: 5px solid #f74d88;
    text-transform: uppercase;
    background: #0095d6;
    color: #ffffff;
    font-weight: bold;
    float: left;
}

.box-product-viewed ul.body-pro {
    width: 100%;
    height: auto;
    float: left;
}

.box-product-viewed ul.body-pro li {
    width: 100%;
    height: auto;
    float: left;
}

.box-product-viewed ul.body-pro li img {
    margin-right: 4px;
    width: 60px;
}

.news-letter-err {
    color: #ff0000;
    margin-top: 5px;
    float: left;
}

.news-letter {
    width: 100%;
    height: auto;
    float: left;
}

.txt-header-letter {
    width: auto;
    height: 26px;
    line-height: 26px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 27px;
    text-transform: uppercase;
    float: left;
}

.txt-letter {
    width: auto;
    height: auto;
    font-size: 12px;
    font-style: italic;
    float: left;
    clear: both;
}

.news-letter .box-input {
    width: 520px;
    height: 38px;
    border-style: solid;
    border-width: 2px;
    margin-top: -15px;
    float: right;
}

.news-letter .box-input .input-text {
    width: 435px;
    height: 34px;
    border: 0px;
    padding: 0px 10px;
    font-style: italic;
    background: none;
    background-color: transparent;
    float: left;
}

.news-letter .box-input .btn-letter {
    width: auto;
    height: 34px;
    line-height: 34px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    padding: 0px 15px;
    background: #0095d6;
    float: left;
}

.txt-code {
    float: left;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 100%;
}

.skype-style {
    width: 50px;
    float: left;
    margin-top: -13px;
}

.nickYahoo {
    width: 50px;
    float: left;
    text-align: center;
}

.nickEmail,
.nickTell {
    width: 100%;
    height: auto;
    float: left;
}

#divAdvLeft,
#divAdvRight {
    width: 130px !important;
    position: absolute;
}

#BottomLayer {
    bottom: 0;
    float: right;
    position: fixed;
    right: 0;
    z-index: 10000;
}

#BottomLayer .bb_open,
#BottomLayer .bb_close {
    background: #c30204;
    color: #fff;
    font-weight: 700;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding: 2px 0 2px 7px;
}

#BottomLayer .bb_open a,
#BottomLayer .bb_close a {
    background-image: url(../img/button.gif);
    background-repeat: no-repeat;
    float: right;
    height: 0;
    margin: 5px 5px 0 0;
    overflow: hidden;
    padding-top: 15px;
    width: 27px;
}

.div_pop_home {
    width: 100%;
    height: auto;
}

.itemVoted {
    background-color: #e89898;
    color: white;
}

.block {
    height: 1000px;
}

.footer-nav {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    display: none;
    width: 100%;
    background-color: #dc0d76;
    font-size: 13px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: #fff;
    text-align: center;
    cursor: pointer;
    height: 55px;
    padding: 10px;
    float: left;
    left: 0 !important;
}

.show,
.footer-nav:hover {
    display: block;
}


/* Custom page CSS
-------------------------------------------------- */


/* Not required for template or sticky footer method. */

.container-footer {}

.container-footer .credit {
    margin: 0 0;
}

.caret-up {
    /* Safari */
    -webkit-transform: rotate(-180deg);
    /* Firefox */
    -moz-transform: rotate(-180deg);
    /* IE */
    -ms-transform: rotate(-180deg);
    /* Opera */
    -o-transform: rotate(-180deg);
    /* Internet Explorer */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=6);
}

.drop-up {
    top: auto;
    bottom: 100% !important;
}

#lblFooter {
    text-align: left;
    line-height: 35px;
    font-size: 15px;
}

.liFooter {
    color: #000;
}

.icon-search {
    padding-right: 0 !important;
    text-align: right
}

.text-search {
    padding-left: 0 !important;
    text-align: left
}

.drop {
    position: absolute;
    bottom: 100%;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* overflow: hidden; */
    width: 266px;
    margin-bottom: 3px;
    display: none;
}

.drop ul li {
    color: #413e3e;
    font-size: 14px;
    padding: 11px 14px;
    border-bottom: 1px solid #e3e3e3;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    /* overflow: hidden; */
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #fff;
    border-radius: 3px 3px 0 0;
}

.drop ul li .text {
    width: 200px;
}

.drop ul li.desc .icon {
    background-position-y: bottom;
    background: url(../images/icon-filter.png) no-repeat;
    width: 22px;
    height: 16px;
    position: absolute;
    right: 14px;
    /* width: 60px; */
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.contestant-all .listcontestant_list .contestantItems {
    width: 25%;
}

.box-news-home .item-list.clearfix .news-more {
    padding: 4px 10px;
    background: #23527c;
    margin-top: 2px;
}

.box-news-home .item-list.clearfix {
    padding-bottom: 8px;
    padding-top: 4px;
    border-bottom: 1px dashed #69B4ED;
    margin-bottom: 10px;
}

.box-news-home .item-list.clearfix .news-more a {
    color: #ffffff !important;
}

#list_player li a {
    color: #333333;
    font-size: 16px;
    font-family: Roboto-Bold !important;
}

#list_player li {
    padding: 5px 5px;
    border-bottom: 1px dashed #69B4ED;
}

#list_player li:nth-last-child(1) {
    border-bottom: 0px !important;
}

.box-face iframe {
    border: none !important;
}

.travel-hot {
    background-image: url("images/tra2.JPG");
    background-repeat: no-repeat;
    background-size: 560px 424px;
    height: 422px;
    width: 560px;
    margin-top: -3px;
}

.banner .img-logo {
    width: 100%;
    height: auto;
}

.box-news-hot .link-view {
    font-family: Roboto-Regular !important;
}

.listcontestant_label,
.listcontestantByTopic .item_header {
    padding: 9px 10px;
}

.listcontestantByTopic .item_header {
    width: 100%;
}

.box-social-network {
    display: none;
}

.listcontestant_list {
    padding: 5px;
}

.listcontestantHome::after,
.listcontestant_list::after {
    clear: both;
    display: table;
    content: "";
}

.listcontestant_list .contestantItems {
    width: 100%;
    float: left;
    padding: 5px;
}

.fa-phone:before {
    padding-right: 5px;
}

.contestantItems_img img {
    width: 100%;
    height: auto;
}

.box-library .sub-top {
    margin-top: 0px !important;
}

.main-page-else .col-md-9 .sub-top {
    margin-top: 0px !important;
}

.box-sub-contact .cate-header {
    margin-top: 0px !important;
}

.contestantItems span strong {
    font-family: Roboto-Bold !important;
    font-size: 13px !important;
}

.listcontestant_all {
    border: 1px solid #69B4ED;
}

#areaComment {
    display: none;
}

.listcontestant_label,
.listcontestantByTopic .item_header,
{
    color: #027bb4 !important;
    font-size: 18px;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.contestant-all {
    margin-bottom: 30px;
}

#contestantDetail .btn {
    background: #eb1c26;
}

.contestantItems_img {
    display: block;
    margin-bottom: 8px;
    overflow: hidden;
}

.col-md-6 .contestantItems_img {
    width: 40%;
    float: left;
    margin-right: 15px;
}

.col-md-6 .contestantItems_link {
    clear: none;
    float: left;
    width: 55%;
}

.col-md-6 .contestantItems .contestantItems_info3 {
    float: left;
    width: 100%;
}

.col-md-6 .contestantItems {
    padding-bottom: 10px;
    border-bottom: 1px dotted #027bb4;
}

.col-md-6 .contestantItems:last-child {
    border-bottom: 0px;
}

.col-md-6 .listcontestant_list {
    padding: 10px;
}

.col-md-6 .listcontestant_list .contestantItems {
    padding: 10px 0px;
}

.contestantItems_link {
    font-size: 14px;
    font-family: Roboto-Bold;
    width: 100%;
    display: block;
    clear: both;
    transition: 0.6s;
    margin-bottom: 5px;
}


/*.contestantItems:hover img {
    transform: scale(1.3);
    transition: 0.8s;
}*/

.contestantItems:hover .contestantItems_link {
    color: #027bb4;
}

.contestantItems_topic,
.contestantItems_cat,
.contestantItems_des {
    display: none !important;
}

.contestantItems_topic,
.contestantItems_cat,
.contestantItems_des,
{
    width: 100%;
    display: block;
    clear: both;
    font-size: 14px;
}

.contestantItems_start,
.contestantItems_time,
.contestantItems_tran {
    clear: both;
    font-size: 14px;
    width: 100%;
}

.contestantItems_start,
.contestantItems_time {
    padding-right: 15px;
}

.contestantItems_info2 {
    margin: 5px 0px;
}

#custumer-say::after {
    clear: both;
    display: table;
    content: "";
}

.facebook-all::after {
    clear: both;
    display: table;
    content: "";
}

.col-right-page .box-news-sub .cat-news.clearfix h4 a {
    color: #333333;
    font-size: 16px;
    font-family: Roboto-Bold;
}

#contestantByTopicHome .listcontestantByTopic::after {
    clear: both;
    display: table;
    content: "";
}

#contestantByTopicHome .listcontestantByTopic {
    float: left;
    margin-bottom: 30px;
    border: 1px solid #69B4ED;
    width: 48.5%;
}

#contestantByTopicHome .listcontestantByTopic:nth-child(1) {
    margin-right: 2.7%;
}

#contestantByTopicHome .listcontestantByTopic .contestantItems {
    width: 50%;
    float: left;
    padding: 5px;
}

.listcontestantByTopic .item_content {
    padding: 5px;
}

#contestantDetail .contestantContent::after,
#contestantDetail .contestantOther::after {
    clear: both;
    display: table;
    content: "";
}

#contestantDetail .contestantContent {
    margin-bottom: 25px;
}

ul.tabs-pro li.active {
    color: #027bb4;
    font-size: 18px;
    font-family: Roboto-Bold;
}

ul.tabs-pro li {
    padding: 8px 0px;
}

#contestantDetail .contestantOther>span {
    color: #027bb4;
    font-size: 18px;
    font-family: Roboto-Bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #027bb4;
    display: block;
    clear: both;
    margin-bottom: 15px;
}

#contestantDetail .contestantOther .contestantItems {
    width: 50%;
    float: left;
    padding: 10px;
}

#sync2 {
    margin-top: 10px;
}

.cloudzoom {
    pointer-events: none;
}

#contestantDetail .contestantInfo .contestantInfo_left,
#contestantDetail .contestantInfo .contestantInfo_right {
    width: 50%;
    float: left;
}

#contestantDetail .contestantInfo .contestantInfo_right {
    padding: 0px 0px 0px 15px;
}

.box-sub-contact .form-group::after {
    clear: both;
    display: table;
    content: "";
}

.box-sub-contact .form-group {
    margin-bottom: 15px;
}

.box-sub-contact input,
.box-sub-contact textarea {
    border: 1px solid #69B4ED;
}

.box-sub-contact .form-group:nth-child(5),
.box-sub-contact .form-group:nth-child(2),
.box-sub-contact .form-group:nth-child(3),
.box-sub-contact .form-group:nth-child(4),
.box-sub-contact .form-group:nth-child(6),
.box-sub-contact .form-group:nth-child(7) {
    width: 33.333333%;
    float: left;
}

.box-sub-contact #ctl17_ucLoadControl_ctl00_txtnoidung {
    height: 200px;
}

.box-sub-contact .form-group label.col-md-3 {
    display: none;
}

.box-sub-contact .form-group .col-md-7 {
    width: 100%;
}

.maps-all {
    padding: 0px 15px;
}

#listcontestantByCat .listcontestantByCat_content .contestantItems {
    width: 25%;
    float: left;
    padding: 5px;
}

.listcontestantByCat_content::after {
    clear: both;
    display: table;
    content: "";
}

#listcontestantByCat .listcontestantByCat_content {
    padding: 5px;
}

#listcontestantByCat {
    margin-bottom: 30px;
}

ul.nav-menu li.active a {
    border-top: 0px;
    background: transparent;
}

.col-right-page #listcontestantByCat .listcontestantHeader {
    font-family: Roboto-Bold;
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid #027bb4;
    margin-bottom: 10px;
}

.col-right-page #listcontestantByCat .listcontestantHeader a {
    color: #027bb4;
}

.col-right-page #listcontestantByCat .listcontestantByCat_content {
    padding: 0px;
}

.col-right-page #listcontestantByCat .listcontestantByCat_content .contestantItems {
    width: 50%;
    padding: 5px 0px;
}

.contestantItems_price {
    font-size: 14px;
    color: red;
    font-family: Roboto-Bold;
    display: block;
    text-align: center;
}

.contestantItems_priceOrifin {
    text-decoration: line-through;
    color: #f33939;
    font-size: 15px;
    font-family: Roboto-Bold;
    display: block;
}

.contestantItems_priceOrifin strong {
    text-decoration: none !important;
}

.contestantItems_priceOrifin strong,
.contestantItems_price strong {
    color: #333333;
}

.contestantItems_placeStart span,
.contestantItems_placeEnd span:nth-child(1) {
    font-family: Roboto-Bold !important;
    font-size: 13px;
}

.contestantItems_start strong,
.contestantItems_time strong,
.contestantItems_tran strong {
    color: #333333;
}

#listcontestantByCat .countSearch {
    font-family: Roboto-Bold;
    color: #027bb4;
    font-size: 18px;
}

.col-right-page #listcontestantByCat .listcontestantByCat_content .contestantItems {
    width: 100%;
    border-bottom: 1px dashed #69B4ED;
}

.col-right-page #listcontestantByCat .listcontestantByCat_content .contestantItems .contestantItems_img {
    width: 45%;
    margin-right: 20px;
    float: left;
}

.col-right-page #listcontestantByCat .listcontestantByCat_content .contestantItems .contestantItems_link {
    clear: none;
}

.contestantInfo::after {
    clear: both;
    display: table;
    content: "";
}

.col-right-page #listcontestantByCat .listcontestantByCat_content .contestantItems .contestantItems_info3 {
    display: flex;
    flex-wrap: wrap;
}

.box-search-contestant .listcontestant_list {
    padding: 15px;
}

.box-search-contestant .listcontestant_list .row {
    margin-bottom: 10px;
}

.box-search-contestant .listcontestant_list .row .col-md-3 {
    padding-right: 0px;
    font-family: Roboto-Regular !important;
}

#ctl17_uccontestantSearchBox_rdCheckcontestantOut {
    margin-left: 10px;
}

.box-search-contestant #ctl17_uccontestantSearchBox_btnSubmitSearch {
    width: 100%;
}

.box-search-contestant .listcontestant_label span {
    color: #ffffff;
    font-family: Roboto-Bold;
}

.slider-show .box-search-contestant .listcontestant_label {
    background: #eb1c26;
    text-align: center;
}

.slider-show .box-search-contestant .listcontestant_all {
    border: none;
}

.slider-show .box-search-contestant .listcontestant_list .row:last-child .col-md-9 .col-md-6 {
    padding: 0px;
}

.col-left-page #listcontestantHot {
    margin-bottom: 20px;
}

.col-left-page #listcontestantHot .listcontestant_list {
    padding: 15px 5px;
}

.col-left-page #listcontestantHot .listcontestant_list .col-md-3 {
    padding-right: 0px;
}

.col-left-page #listcontestantHot .listcontestant_list .row {
    margin-bottom: 10px;
}

.col-left-page #listcontestantHot .listcontestant_list .row:last-child .col-md-9 .col-md-6 {
    padding: 0px;
}

.col-left-page #ctl17_uccontestantSearchBox_1_rdCheckcontestantOut {
    margin-left: 10px;
}
a.facebook img {
    width:25px;
}
#tourDetail .tourInfo .tourInfo_right .wrap-detail-no-button-vote span.itemVoted {
    float: none!important;
    text-align: center!important;
    border-radius: 30px!important;
    color: rgb(255, 255, 255)!important;
    background: rgb(236, 0, 140)!important;
}
.left {
    float: left;
    text-align:left;
}
.right {
    float:right;
    text-align:right;
}