﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucBanner.ascx.cs" Inherits="MyWeb.views.control.ucBanner" %>
<div class="banner">
    <asp:Literal ID="ltrbanner" runat="server"></asp:Literal>
</div>