.btn,
ul#tabs li {
    text-align: center
}

.box-adv-center,
.footer-bottom,
.slider-show .col-md-3,
header {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2)
}

@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: Roboto-Italic;
    src: url(fonts/Roboto-Italic.ttf)
}

body {
    font-family: Roboto-Regular!important;
    overflow-x: hidden
}

.f-nav {
    position: fixed!important
}

.dang-ky-web-site {
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    width: 100%;
    z-index: 999999;
    background: #18a4dd
}

.dang-ky-web-site-content {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 16px
}

.dang-ky-left {
    float: left;
    padding: 9px 9px 9px 20px;
    position: relative
}

.dang-ky-left:before {
    content: "";
    background: url(/theme/default/img/icon-back.png) no-repeat;
    width: 20px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 15px
}

.header-all,
.img-hover img {
    height: auto;
    width: 100%
}

#button_compress {
    bottom: -20px!important;
    left: 0
}

.popup-dang-ky {
    background: url(images/Poppup.png) top center no-repeat
}

.dang-ky-web-site-content a {
    color: #fff;
    display: inline-block;
    padding-right: 20px
}

.dang-ky-web-site-content span {
    color: #fff
}

.dang-ky-right {
    float: right;
    padding: 5px 0 5px 5px
}

a#IconSkype {
    position: relative;
    padding-right: 40px
}

a#IconSkype:after {
    content: "\f17e";
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    top: 0;
    right: 9px;
    font-size: 25px;
    color: #fff
}

.sub-menu::after,
ul.nav-menu li ul.sub-menu::after {
    content: "";
    clear: both
}

.btn {
    display: inline-block;
    padding: 6px 12px!important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 74px
}

.nav-main,
.owl-theme .owl-controls .owl-buttons div {
    background: 0 0
}

.Webstore-content,
div#Webstore {
    float: left;
    width: 100%
}

.frame-box {
    display: block!important
}

ul#tabs li {
    float: left;
    padding: 0 10px;
    width: 10%
}

ul#tabs {
    float: left;
    width: 100%
}

ul.nav-menu li a {
    font-family: Roboto-Regular!important;
    font-weight: 500
}

.menu-all {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto
}

.box-marque {
    display: none
}

.banner {
    width: 27%;
    float: left
}

.nav-main {
    width: 73%;
    float: left;
    padding: 0;
    margin-top: 16px;
    position: relative
}

ul.nav-menu li ul.sub-menu {
    display: block!important;
    position: absolute;
    opacity: 0;
    top: 70px
}

.sub-menu::after {
    display: table
}

.sub-menu li {
    display: none
}

ul.nav-menu li ul.sub-menu::after {
    display: table
}

ul.nav-menu li ul.sub-menu::before {
    font-family: FontAwesome;
    content: "\f0de";
    color: #fff;
    position: absolute;
    font-size: 25px;
    top: -14px;
    left: 12%
}

li.itop:hover ul.sub-menu {
    opacity: 1;
    top: 50px;
    transition: .6s
}

li.itop:hover .sub-menu li {
    display: block
}

li.itop:hover .sub-menu li a {
    font-family: Roboto-Regular!important;
    font-size: 14px
}

.header-all::after,
.header-all::before,
.menu-all::after,
.slider-show::after,
.slider-show::before,
header::after {
    clear: both;
    display: table;
    content: ""
}

.owl-theme .owl-controls {
    margin-top: 0
}

.header-all {
    position: relative
}

.box-adv-center .header {
    display: none
}

.box-adv-center {
    position: absolute;
    top: 27%;
    right: 10%;
    display: block!important;
    width: 280px;
    padding: 15px;
    background-color: rgba(0, 0, 0, .7);
    height: 290px
}

.box-sub-book-now.bookNowForm .control-label.col-md-4 {
    display: none;
}

.box-sub-book-now.bookNowForm .col-md-8 {
    width: 100%;
}

.bookNowBtn #ctl18_ucBookNow_btnSend {
    width: 100%;
    color: #ffffff;
    background: #631005;
}

header {
    position: relative;
    z-index: 100;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #631005;
    border: 0
}

ul.nav-menu li.active a,
ul.nav-menu li:hover a {
    background: 0 0;
    border-top: none;
    color: #fff
}

.adv-banner {
    position: relative;
    z-index: 1;
    top: 0
}

.adv-banner .box-adv-center .header,
.advItemName,
.owl-pagination {
    display: none
}

.adv-banner .advItem img {
    width: 100%;
    height: auto;
    margin-bottom: 15px
}

ul.nav-menu li a {
    padding: 0 18px;
    font-size: 16px
}

.slider-show {
    position: absolute!important;
    background: 0 0!important;
    z-index: 100;
    top: 30%;
    left: 4%
}

.box-adv-center .owl-next,
.box-adv-center .owl-prev {
    top: 110%!important
}

.box-adv-center .owl-next {
    right: 36%!important;
    border-left: 1px solid #631005
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 26px!important;
    color: #631005!important
}

.fa-angle-left,
.fa-angle-right {
    font-size: 26px;
    color: #631005;
    font-weight: 700
}

.box-adv-center .owl-prev {
    left: 36%!important;
    border-right: 1px solid #631005
}

.nav-menu .itop>.sub-menu {
    padding: 0 5px!important
}

.slider-show .col-md-3 {
    padding: 10px 10px 45px;
    height: auto;
    background-color: rgba(0, 0, 0, .7);
    border: 0
}

.owl-theme .owl-controls .owl-buttons .owl-next,
.owl-theme .owl-controls .owl-buttons .owl-prev {
    top: 32%;
    border-radius: 0
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 45%
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 45%
}

.owl-carousel .owl-item {
    border-bottom: 1px solid rgba(255, 255, 255, .5)
}

.owl-theme .owl-controls .owl-buttons div {
    padding: 3px 10px
}

.adv-banner {
    padding-left: 0!important;
    padding-right: 0!important
}

.owl-buttons::after,
.owl-buttons::before {
    clear: both;
    display: table;
    content: ""
}

.slides .owl-buttons {
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    bottom: 0
}

.box-news-hot .header,
.contain-main .col-md-4 .box-news-home .box-news-list .header {
    border-left: none;
    background: 0 0;
    font-size: 24px;
    font-family: Roboto-Bold!important;
    text-transform: uppercase
}

.box-social-network .body-network {
    position: initial!important
}

.dk-all .bookNowContent .form-group label.col-md-3 {
    display: none
}

.dk-all .bookNowContent .form-group .col-md-9 {
    width: 100%
}

.dk-all .bookNowContent .form-control {
    color: #974f27!important
}

.bookNowBtn .col-md-9 {
    width: 100%!important
}

.contain-main .col-md-4 .box-news-home .box-news-list .header {
    padding: 0 0 10px 5px;
    color: #fff;
    margin-top: 5px
}

.box-news-hot .header {
    padding: 0 0 10px;
    color: #fff
}

.modal-header .close {
    position: absolute;
    right: -31px;
    top: -31px;
    padding: 5px 17px;
    z-index: 10;
    background: #fff;
    border-radius: 100%
}

.modal-header {
    position: relative;
    height: 10px
}

#toTop,
.hotline-bot {
    position: fixed;
    background: #631005
}

.box-news-home .body-news {
    border: none
}

.contain-main {
    background-image: url(images/back-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 25px;
    padding-bottom: 40px
}

.contain-main .container,
.header-face {
    background: 0 0
}

.box-about-us {
    padding-top: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #8a5c41
}

.box-face #div-iframe iframe {
    border: 0!important;
    margin-top: -10px
}

.box-about-us .header {
    padding: 0 0 10px;
    color: #fff;
    font-size: 30px;
    font-family: Roboto-Regular;
    text-transform: uppercase
}

.box-about-us .body-news {
    font-family: Roboto-Italic!important;
    color: #fff
}

.main-content-bottom .col-md-4::after,
.main-content-bottom .col-md-4::before,
.main-content-bottom::after {
    clear: both;
    display: table;
    content: ""
}

.main-content-bottom {
    padding-top: 10px;
    width: 97.5%;
    margin: 8px auto 0;
    border-top: 1px solid #8a5c41
}

.main-content-bottom .col-md-4:nth-child(1) {
    padding-left: 0
}

.main-content-bottom .col-md-4:nth-child(3) {
    padding-right: 0
}

.header-face {
    padding: 0 0 10px 15px;
    border-left: none;
    color: #fff!important;
    font-size: 24px;
    font-family: Roboto-Bold!important;
    text-transform: uppercase;
    margin-top: 10px
}

.box-news-hot ul.body-news li img {
    width: 100%;
    height: auto
}

.box-news-hot ul.body-news li>a:nth-child(1) {
    width: 31%;
    float: left
}

.box-news-hot ul.body-news li a.link-view {
    width: 67%;
    float: left;
    padding-left: 15px;
    font-size: 13px;
    color: #fff;
    font-family: Roboto-Regular!important
}

.box-news-hot ul.body-news li {
    margin-bottom: 10px
}

.main-content-bottom .box-news-home .box-news-list .body-news.clearfix .item-list.clearfix .news-more,
.main-content-bottom .box-news-home .box-news-list .body-news.clearfix .item-list.clearfix .view-container,
.main-content-bottom .box-news-home .box-news-list .body-news.clearfix .item-list.clearfix>a:nth-child(2) {
    display: none
}

.main-content-bottom .box-news-home .box-news-list .body-news.clearfix {
    padding: 0
}

.main-content-bottom .box-news-home .box-news-list .body-news.clearfix .item-list.clearfix {
    width: 33.3333%;
    float: left;
    clear: none;
    margin-bottom: 0;
    padding: 0 5px 16px
}

.box-face {
    padding-left: 15px;
    margin-bottom: 0
}

.box-news-home .body-news img {
    width: 100%;
    height: auto;
    margin-top: 0
}

.footer-bottom .col-md-3 p {
    text-align: right
}

.footer-bottom .col-md-3 p:nth-child(2) {
    padding-right: 40px
}

footer {
    background-image: url(images/back-foot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-left: 0!important;
    padding-right: 0!important
}

footer .container {
    background: 0 0
}

.footer-top .col-md-4 {
    padding-top: 20px
}

.footer-top .col-md-4::after,
.footer-top .col-md-4::before {
    clear: both;
    display: table;
    content: ""
}

.col-mid-all .pager-nav li.active>a.active,
.col-mid-all .pager-nav li.first_last>a.active,
.page-else .col-right-all .adv-group-Library,
footer #list_player li a {
    display: none
}

footer .box-adv-left,
footer .box-top-video {
    margin-top: 0
}

.footer-bottom {
    background-color: rgba(0, 0, 0, .42);
    border: 0;
    padding: 5px 0!important;
    color: #974f27;
    font-size: 13px
}

.footer-bottom a,
.footer-bottom p {
    color: #974f27;
    font-size: 13px;
    text-decoration: none
}

.footer-bottom .col-md-9 a {
    font-family: Roboto-Italic
}

.footer-top .col-md-4:nth-child(2) iframe {
    width: 100%!important
}

.header-maps,
footer .box-adv-left .header,
footer .box-top-video .header {
    padding: 0 0 10px;
    border-left: none;
    background: 0 0;
    color: #fff;
    font-size: 24px;
    font-family: Roboto-Bold!important;
    text-transform: uppercase
}

footer .box-adv-left img {
    width: 100%;
    height: auto
}

.footer-top {
    padding-top: 10px;
    padding-bottom: 30px
}

footer .box-top-video iframe {
    height: 200px
}

.hotline-bot {
    padding: 5px 20px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    bottom: 0;
    z-index: 100;
    left: 25px;
}

.box-text-footer iframe {
    padding-left: 15px;
    padding-right: 15px
}

.hotline-bot a {
    font-size: 16px;
    color: #fff
}

.fa-phone {
    padding-right: 6px;
    width: 10%;
    float: left;
}

#toTop {
    z-index: 100000!important;
    bottom: 40px;
    right: 30px;
    padding: 10px 12px
}

#toTop .fa-chevron-up {
    color: #fff;
    font-size: 15px
}

.dk-all #ctl19_ucBookNow_lblthongbao {
    font-size: 14px!important
}

.note {
    font-family: Roboto-Italic
}

.on-off-dk {
    position: fixed;
    z-index: 100;
    bottom: 50%;
    left: 1px
}

#ctl18_ucLoadControl_ctl00_btnReset,
#ctl18_ucLoadControl_ctl00_btnSend {
    text-transform: uppercase;
    padding: 6px 15px;
    background: #631005;
    color: #fff
}

#ctl18_ucLoadControl_ctl00_btnReset {
    margin-left: 10px
}

.page-else .container {
    background: 0 0
}

.page-else {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px
}

.advItemImg {
    width: 100%;
    height: auto
}

.box-breadcumb ul li a {
    font-size: 15px;
    color: #333;
    text-transform: uppercase
}

ul.pager-nav {
    margin-right: 15px
}

.box-news-detailt .cate-header.sub-top .txt-name-sub,
.box-sub-contact .txt-name-sub,
.col-mid-all .box-library .txt-name-sub,
.col-mid-all .box-news-sub .txt-name-sub,
.col-mid-all .box-pro-sub .cate-header.sub-top .txt-name-sub {
    text-transform: uppercase;
    font-size: 24px;
    font-family: Roboto-Bold;
    color: #631005;
    border-bottom: 2px solid #631005;
    padding-bottom: 10px;
    width: 100%
}

.box-search {
    margin-top: 12px;
    width: 100%;
    border: 1px solid #631005;
    background: #631005
}

.box-search #ctl18_ucSearchBox_txtSearch {
    width: 86%;
    float: left;
    border: none;
    height: 30px;
    padding: 3px 6px;
    background: #fff!important
}

.box-search-product .cate-header.sub-top .txt-name-sub {
    font-size: 16px;
    color: #631005;
    font-family: Roboto-Regular
}

.box-search #ctl18_ucSearchBox_btnSearch {
    width: 14%;
    float: left;
    display: block;
    line-height: 30px;
    background: #631005;
    text-align: center;
    color: #fff
}

.col-mid-all .box-news-sub .txt-name-sub {
    margin-bottom: 20px
}

.avd-intro img {
    width: 100%;
    height: auto
}

.col-mid-all .box-pro-sub .txt-name-sub span {
    display: none
}

.box-sub-contact .form-group::after,
.col-mid-all .box-pro-sub .cate-header.sub-top .txt-name-sub::after {
    display: table;
    content: "";
    clear: both
}

.col-mid-all .box-pro-sub .txt-name-sub a {
    color: #631005;
    text-decoration: none
}

.col-mid-all .box-pro-sub .cate-header.sub-top .txt-name-sub {
    padding-bottom: 44px!important
}

#ctl19_ucLoadControl_ctl00_btnReset,
.box-news-priority .body-news .item-list .news-more,
.col-right-all .box-library .advByGroup {
    display: none
}

.box-sub-contact {
    padding-bottom: 20px
}

.box-sub-contact .form-group {
    margin-bottom: 15px
}

#ctl19_ucLoadControl_ctl00_btnReset,
#ctl19_ucLoadControl_ctl00_btnSend {
    padding: 10px 30px;
    float: right;
    background: #631005;
    color: #fff;
    font-size: 15px
}

.view-messenger {
    padding-left: 15px
}

.view-messenger span {
    color: #631005;
    font-size: 15px;
    font-family: Roboto-Bold
}

.box-breadcumb {
    margin-top: 10px
}

.box-news-priority .header,
.col-right-all .box-library .txt-name-sub,
.col-right-all .box-top-video .header {
    margin-top: 20px
}

.box-news-priority .header,
.col-right-all .box-library .txt-name-sub,
.col-right-all .box-menu-left .header,
.col-right-all .box-top-video .header {
    font-size: 20px;
    background: #631005;
    border-left: none;
    font-family: Roboto-Bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 9px 0
}

.box-news-priority .body-news .item-list .img-view img {
    width: 40%;
    height: auto;
    padding-right: 8px;
    float: left
}

.box-news-priority .body-news .item-list {
    margin-bottom: 10px
}

.box-news-priority .body-news .item-list:nth-last-child(1) {
    margin-bottom: 0!important
}

#formComment .rows,
.im1 img {
    margin-bottom: 15px
}

.box-news-priority .body-news .item-list h5 a.link-view {
    color: #333;
    font-family: Roboto-Bold;
    font-size: 13px
}

.box-news-priority .body-news .item-list::after {
    clear: both;
    display: table;
    content: ""
}

.box-news-priority .body-news {
    padding-top: 15px
}

.box-online-visit .header,
.col-right-all .box-library .box-library-list:nth-child(1) {
    display: none
}

#menu_left {
    padding-top: 5px
}

.col-right-all .box-menu-left .menu-left-view li a {
    font-size: 16px;
    font-family: Roboto-Regular;
    text-decoration: none;
    text-transform: uppercase;
    color: #333
}

.col-right-all .box-menu-left .menu-left-view li:hover a {
    color: #631005
}

.col-right-all .box-menu-left .menu-left-view li a::before {
    content: "\f111";
    font-size: 8px;
    color: #631005;
    padding-right: 6px;
    font-family: FontAwesome
}

.col-right-all .box-menu-left .menu-left-view li {
    padding: 5px 0;
    border-bottom: 1px solid #e5e5e5
}

.col-right-all .box-top-video iframe {
    padding-top: 15px
}

.col-mid-all .box-pro-sub .cate-header.sub-top::after,
.col-mid-all .box-pro-sub .cate-header.sub-top::before {
    clear: both;
    display: table;
    content: ""
}

.col-mid-all ul.product-list li .frame-img {
    height: auto;
    padding: 0;
    float: none
}

.col-mid-all ul.product-list li .frame-img img {
    width: 100%!important;
    height: auto!important
}

.col-mid-all ul.product-list li {
    width: 31.5%;
    margin-right: 15px
}

.im1,
.intro-img-all .img {
    margin-right: 10px
}

.col-mid-all ul.product-list li:hover {
    box-shadow: none;
    border: none
}

.link-order,
.link-view-short {
    display: none!important
}

.col-mid-all .itemProContent {
    background: #631005
}

.col-mid-all .itemProContent a h3 {
    color: #fff;
    font-size: 16px!important;
    font-family: Roboto-Bold;
    text-align: left
}

.itemProContent {
    padding: 5px 10px 15px
}

.col-mid-all .frame-content {
    font-size: 13px;
    color: #fff;
    font-family: Roboto-Regular
}

.fb-comments.fb_iframe_widget,
.price,
.price-new,
.txt-code {
    display: none
}

#areaComment::after,
#areaComment::before {
    clear: both;
    display: table;
    content: ""
}

#formComment .rows label {
    display: none
}

#formComment .rows::after,
.col-mid-all ul.product-list li .frame-img::after {
    display: table;
    clear: both;
    content: ""
}

#formComment .rows input,
#formComment .rows textarea {
    width: 100%;
    padding: 0 10px
}

#formComment .rows input {
    height: 36px
}

#formComment .rows textarea {
    height: 100px
}

#formComment .rows:nth-child(1) {
    padding-right: 15px
}

#formComment .rows:nth-child(2) {
    padding-left: 15px
}

#formComment .rows:nth-child(1),
#formComment .rows:nth-child(2) {
    width: 50%;
    float: left
}

#formComment {
    margin-top: 15px
}

#formComment #ctl18_ucLoadControl_ctl00_lbtSendComment {
    color: #fff;
    background: #631005;
    font-size: 15px;
    font-family: Roboto-Regular;
    padding: 8px 15px
}

.intro-bold,
.lh1,
.title-introduct-page {
    font-family: Roboto-Bold
}

#formComment .rows:nth-child(3) {
    width: 100%
}

ul.product-list li .frame-content {
    display: block
}

.title-introduct-page {
    font-size: 24px!important;
    color: #333;
    margin-top: 20px
}

.img-intro,
.img-intro-1 {
    width: 100%!important;
    height: auto!important
}

.intro-img-all {
    width: 100%
}

.im1 {
    width: 32%;
    float: left
}

.box-search #ctl17_ucSearchBox_txtSearch {
    width: 86%;
    float: left;
    border: none;
    height: 30px;
    padding: 3px 6px;
    background: #fff!important
}

.box-search #ctl17_ucSearchBox_btnSearch {
    width: 14%;
    float: left;
    display: block;
    line-height: 30px;
    background: #631005;
    text-align: center;
    color: #fff
}

.col-mid-all .box-sub-contact .form-group .col-md-7,
.im1 img {
    width: 100%!important
}

.cl-fix,
.lh1 {
    color: #631005
}

.im1 img {
    height: auto!important
}

.col-mid-all .box-library .box-library-list .frame-img img,
.col-right-all .box-library .box-library-list:nth-child(2) a img {
    margin-bottom: 10px;
    width: 100%;
    height: auto
}

.fa-map-marker {
    padding-right: 5px
}

.menu-mobile-fix-right {
    float: right !important;
    transition: 0.8s !important;
}

.lh1 {
    font-size: 16px
}

.col-mid-all .box-sub-contact .form-group label.col-md-3 {
    display: none
}

.col-mid-all .box-sub-contact .form-group .col-md-7 textarea {
    height: 200px;
    color: #333
}

.col-right-all .box-library .box-library-list:nth-child(2) a.txt-name {
    font-size: 14px;
    color: #333;
    font-family: Roboto-Bold
}

.box-breadcumb::after {
    clear: both;
    display: table;
    content: ""
}

.box-pro-detailt-sub .form-right .text-line,
.col-mid-all .box-library .box-library-list:nth-child(1),
.col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix .news-more,
.form-right .color-text-second,
.text-price {
    display: none
}

.btn-add-card {
    background: #631005
}

ul.pager-nav li a:hover,
ul.pager-nav li.active a {
    background: #631005!important
}

.btn-add-card a {
    color: #fff;
    font-family: Roboto-Bold!important
}

.col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix h3,
.col-mid-all .box-news-sub .box-body.homepage.clearfix .cat-news.clearfix h4 {
    margin-bottom: 20px
}

.col-mid-all .box-library .box-body.clearfix .box-library-list {
    width: 32%;
    float: left;
    text-align: left
}

.col-mid-all .box-library .box-body.clearfix .box-library-list a {
    color: #333;
    font-size: 14px
}

.col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix h3 a,
.col-mid-all .box-news-sub .box-body.homepage.clearfix .cat-news.clearfix h4 a {
    font-size: 16px;
    color: #333;
    font-family: Roboto-Bold
}

.col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix {
    width: 100%;
    margin-bottom: 20px
}

.col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix .clearfix {
    clear: none
}

.col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix a img {
    padding-right: 20px;
    float: left
}

.pro-detail .form-right h1 {
    color: #631005
}

ul.tabs-pro li.active {
    color: #631005;
    border-bottom: 2px solid #631005
}

.fa-plus {
    font-size: 20px;
    margin-top: 11px;
    padding-right: 15px;
    float: right;
    color: #fff
}

.col-mid-all::after,
.col-mid-all::before,
.col-right-all::after,
.col-right-all::before {
    clear: both;
    display: table;
    content: ""
}

#ctl19_ucLoadControl_ctl00_pnNewsOrther .txt-name-sub,
#ctl19_ucLoadControl_ctl00_pnlNewsOld .txt-name-sub {
    font-family: Roboto-Bold;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 5px
}

.avd-member img {
    width: 100%;
    height: auto
}

.body-network::after,
.box-social-network::after,
.box-social-network::before {
    clear: both;
    display: none;
    content: ""
}

.box-social-network img {
    width: 18px!important;
    height: 18px!important
}

.box-social-network {
    padding-left: 10px
}

.box-face #div-iframe {
    height: 220px!important
}

.box-social-network .header {
    color: #fff;
    vertical-align: middle;
    font-size: 13px;
    font-family: Roboto-Regular
}

ul.breadcum,
ul.breadcum li {
    height: auto!important
}

ul.pager-nav li.active a {
    color: #fff!important
}

.col-right-all .box-library .box-library-list:nth-child(2) {
    display: block!important;
    width: 100%
}

.col-right-all .box-library .box-library-list {
    text-align: left;
    margin-right: 0;
    display: none
}

#ctl17_ucLoadControl_ctl00_btnReset,
#ctl17_ucLoadControl_ctl00_btnSend {
    text-transform: uppercase;
    color: #fff;
    background: #631005;
    padding: 8px 15px
}

#ctl18_ucLoadControl_ctl00_pnNewsOrther .txt-name-sub,
#ctl18_ucLoadControl_ctl00_pnlNewsOld .txt-name-sub {
    color: #631005;
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #631005;
    width: 100%
}

.title-comment {
    margin-top: 20px;
    color: #631005;
    font-size: 16px;
    font-family: Roboto-Bold
}

@media screen and (min-width:1025px) {
    .hotline-bot {
        width: 18%;
        text-align: center;
    }
    .hotline-bot .fa-phone {
        margin-top: 2px;
    }
    .menu-all {
        display: block!important
    }
    .fa-plus,
    .menu-mobile {
        display: none
    }
    .box-sub-contact .form-group:nth-child(1),
    .box-sub-contact .form-group:nth-last-child(1),
    .box-sub-contact .form-group:nth-last-child(2),
    .box-sub-contact .form-group:nth-last-child(3) {
        width: 100%!important
    }
    .box-sub-contact .form-group {
        width: 33.33333%;
        float: left
    }
    .box-sub-contact .form-group:nth-last-child(2) .col-md-3:nth-child(1) {
        width: 60%!important
    }
}

@media screen and (max-width:1024px) {
    #divAdvLeft,
    #divAdvRight {
        display: none!important
    }
    .menu-all {
        position: fixed;
        top: 0;
        width: 250px;
        height: 100%;
        background: #1f1f1e;
        overflow-y: scroll;
        z-index: 99999999!important;
        margin: 0;
        left: 0;
        padding-left: 0;
        padding-right: 0
    }
    .itop:hover .sub-menu,
    ul.sub-menu,
    ul.sub-menu li a:hover {
        background: 0 0!important
    }
    ul.sub-menu li a::before {
        font-family: FontAwesome;
        content: "\f111";
        font-size: 8px;
        color: #fff;
        padding-right: 6px
    }
    ul.nav-menu li {
        width: 100%
    }
    .banner,
    .nav-main,
    .nav-menu li {
        width: 100%;
        text-align: center
    }
    .banner {
        padding: 10px 0;
        border-bottom: 1px dashed #fff
    }
    .menu-mobile {
        display: block;
        float: left;
        transition: 0.8s;
    }
    .menu-mobile::after {
        content: "MENU";
        font-family: Roboto-Bold;
        font-size: 16px;
        color: #ffffff;
        padding-left: 8px;
    }
    .nav-main #nav-main-menu li {
        display: block!important;
        width: 100%!important
    }
    .itop .sub-menu {
        opacity: 1!important;
        margin-left: 10px
    }
    ul.sub-menu {
        position: relative!important;
        top: 0!important;
        clear: both;
        margin-bottom: 10px;
        width: 100%!important;
        padding-right: 10px
    }
    .sub-menu::before {
        color: transparent!important
    }
    .itop:hover .sub-menu {
        border-left: 0!important;
        border-bottom: 0!important;
        display: block!important;
        opacity: 1!important
    }
    ul.nav-menu li:hover ul a {
        color: #fff!important
    }
    ul.nav-menu li a {
        text-align: left;
        color: #fff
    }
    header {
        padding: 8px 15px;
        position: relative;
        top: 0
    }
    .fa-bars {
        font-size: 26px;
        color: #fff
    }
}

.click-dk {
    position: fixed;
    left: 0px;
    border-top-right-radius: 4px
}

.dk-all {
    position: fixed;
    left: -300px;
    border-top-right-radius: 4px
}

.dk-all-fix {
    left: 0px !important;
}

.dk-all-fix-1 {
    left: 300px !important;
}

.dk-all {
    width: 300px;
    z-index: 1000000000 !important;
    top: 18%;
    background: #fff;
    border-top-left-radius: 4px
}

#ctl19_ucBookNow_btnSend,
.bookNowBtn .col-md-9 a,
.click-dk,
.dk-button {
    color: #fff;
    background: #631005
}

.fa-times {
    float: right;
    padding-right: 15px;
    display: none;
}

.click-dk img {
    width: 30px;
    height: 30px;
}

.click-dk {
    z-index: 15;
    top: 30%;
    font-family: Roboto-Regular!important;
    padding: 5px;
    font-size: 15px;
    border-bottom-right-radius: 4px;
    transition: 0.8s;
}

.dk-all .form-group::after {
    display: table;
    content: "";
    clear: both
}

.box-sub-book-now.bookNowForm {
    padding: 10px
}

.dk-all {
    transition: 0.8s;
}

.dk-all .form-group {
    width: 100%;
    margin-bottom: 15px
}

#ctl19_ucBookNow_txtnoidung {
    height: 100px!important
}

#ctl17_ucBookNow_txtnoidung {
    height: 100px
}

.bookNowDate,
.bookNowNOP {
    width: 50% !important;
    float: left;
    clear: none;
}

.dk-all {
    border: 1px solid #631005
}

.bookNowBtn .col-md-9 a {
    font-size: 14px;
    padding: 3px 128px;
    border-radius: 4px
}

.header.bookNowTitle {
    display: none
}

.dk-button {
    text-align: center;
    font-size: 18px;
    padding: 4px 0 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

#ctl19_ucBookNow_btnSend {
    padding: 5px 128px;
    border-radius: 4px;
    font-size: 15px
}

.modal-header .close {
    font-size: 50px;
    font-family: Roboto-Bold!important;
    color: #631005;
    opacity: 1
}

@media screen and (max-width:480px) {
    .hidden-phone {
        display: none;
    }
    .hotline-bot {
        text-align: center;
        top: 30%;
        left: 0px;
        border-radius: 0px;
        bottom: auto !important;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 9px 10.5px 9px;
    }
    .contain-main .col-md-12:nth-child(1),
    .main-content-bottom .col-md-4 {
        padding-right: 0;
        padding-left: 0
    }
    .nav-menu .itop>.sub-menu>li {
        border-bottom: 0
    }
    .click-dk {
        top: 40%;
    }
    .dk-all {
        top: 25%;
    }
    .box-news-detailt .body-detailt img {
        width: 100%!important;
        height: auto!important
    }
    .box-sub-contact .form-group {
        width: 100%!important
    }
    .slides .owl-buttons {
        background: 0 0;
        height: 70px;
        top: 32.5%
    }
    .box-breadcumb,
    .im1,
    .news-detailt img {
        height: auto
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 10%!important
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 10%!important
    }
    .fa-chevron-left,
    .fa-chevron-right {
        color: #fff!important
    }
    .owl-theme .owl-controls .owl-buttons div {
        opacity: .9!important
    }
    .box-adv-center {
        display: none
    }
    .im1 {
        width: 100%
    }
    .col-mid-all .box-sub-contact .form-group .col-md-7 {
        width: 100%!important
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list {
        width: 100%;
        margin-right: 0
    }
    .col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix a img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        padding-right: 0
    }
    .news-detailt img {
        width: 100%
    }
    .box-face,
    .header-face {
        padding-left: 0
    }
    .body-video #myElement iframe {
        height: 240px
    }
    .col-mid-all ul.product-list li {
        width: 100%;
        margin-right: 0
    }
    .footer-top iframe {
        height: 260px
    }
    .hotline-bot {
        bottom: 0;
        left: 0
    }
    #toTop {
        bottom: 70px;
        right: 15px
    }
    .dk-button {
        font-size: 15px
    }
    header {
        z-index: 1000
    }
    .box-sub-contact .txt-name-sub,
    .col-mid-all .box-library .txt-name-sub,
    .col-mid-all .box-news-sub .txt-name-sub,
    .col-mid-all .box-pro-sub .cate-header.sub-top .txt-name-sub {
        font-size: 18px!important
    }
    .footer-bottom .col-md-3 p {
        text-align: left
    }
    .owl-theme .owl-controls .owl-buttons .owl-next,
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        top: 18%
    }
}

@media screen and (min-width:481px) and (max-width:540px) {
    .click-dk {
        top: 35%;
    }
    .hidden-phone {
        display: none;
    }
    .hotline-bot {
        text-align: center;
        top: 25%;
        left: 0px;
        border-radius: 0px;
        bottom: auto !important;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 9px 10.5px 9px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next,
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        top: 18%
    }
    .footer-bottom .col-md-3 p {
        text-align: left
    }
    .box-news-detailt .body-detailt img {
        width: 100%!important;
        height: auto!important
    }
    .box-sub-contact .form-group {
        width: 100%!important
    }
    .col-mid-all ul.product-list li,
    .im1 {
        width: 48%
    }
    .im1 {
        float: left;
        height: auto
    }
    .slides .owl-buttons {
        background: 0 0;
        height: 70px;
        top: 32.5%
    }
    .slides .owl-carousel img {
        height: auto!important
    }
    .body-video #myElement iframe,
    .footer-top iframe {
        height: 260px
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 10%!important
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 10%!important
    }
    .fa-chevron-left,
    .fa-chevron-right {
        color: #fff!important
    }
    .owl-theme .owl-controls .owl-buttons div {
        opacity: .9!important
    }
    .box-adv-center {
        display: none
    }
    .main-content-bottom .col-md-4 {
        padding-left: 0;
        padding-right: 0
    }
    .box-face,
    .header-face {
        padding-left: 0
    }
    .col-mid-all ul.product-list li:nth-child(even) {
        margin-right: 0!important
    }
    .news-detailt img {
        width: 100%;
        height: auto
    }
    .col-mid-all .box-news-sub .box-body.clearfix .cat-news.clearfix a img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        padding-right: 0
    }
    .col-mid-all .box-sub-contact .form-group .col-md-7 {
        width: 100%!important
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list {
        width: 48.5%;
        float: left
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list:nth-child(odd) {
        margin-right: 0
    }
}

@media screen and (min-width:541px) and (max-width:640px) {
    .hotline-bot .fa-phone {
        display: none;
    }
    .dk-all {
        bottom: 0px;
    }
    .box-news-detailt .body-detailt img {
        width: 100%!important;
        height: auto!important
    }
    .im1 {
        width: 30%;
        float: left;
        height: auto
    }
    .slides .owl-buttons {
        background: 0 0;
        height: 70px;
        top: 32.5%
    }
    .slides .owl-carousel img {
        height: auto!important
    }
    .body-video #myElement iframe,
    .footer-top iframe {
        height: 260px
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 10%!important
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 10%!important
    }
    .fa-chevron-left,
    .fa-chevron-right {
        color: #fff!important
    }
    .owl-theme .owl-controls .owl-buttons div {
        opacity: .9!important
    }
    .box-adv-center {
        display: none
    }
    .main-content-bottom .col-md-4 {
        padding-left: 0;
        padding-right: 0
    }
    .box-face,
    .header-face {
        padding-left: 0
    }
    .col-mid-all ul.product-list li {
        width: 48.5%
    }
    .col-mid-all ul.product-list li:nth-child(even) {
        margin-right: 0!important
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list {
        width: 48.5%;
        float: left
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list:nth-child(odd) {
        margin-right: 0
    }
    .box-sub-contact .form-group:nth-child(1),
    .box-sub-contact .form-group:nth-last-child(3) {
        width: 100%!important
    }
    .box-sub-contact .form-group {
        width: 50%;
        float: left
    }
}

@media screen and (min-width:641px) and (max-width:767px) {
    .dk-all {
        bottom: 0px;
    }
}

@media screen and (width:768px) {
    .dk-all {
        top: 30%;
    }
}

@media screen and (min-width:641px) and (max-width:768px) {
    .click-dk {
        top: 35%;
    }
    .hotline-bot .fa-phone {
        display: none;
    }
    .main-content-bottom .box-news-home .box-news-list .body-news.clearfix .item-list.clearfix {
        width: 20%
    }
    .box-news-hot ul.body-news li {
        width: 50%;
        float: left
    }
    .box-news-detailt .body-detailt img {
        width: 100%!important;
        height: auto!important
    }
    .im1 {
        width: 30%;
        float: left;
        height: auto
    }
    .slides .owl-buttons {
        background: 0 0;
        height: 70px;
        top: 34.5%
    }
    .slides .owl-carousel img {
        height: auto!important
    }
    .body-video #myElement iframe,
    .footer-top iframe {
        height: 300px
    }
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        left: 10%!important
    }
    .owl-theme .owl-controls .owl-buttons .owl-next {
        right: 10%!important
    }
    .fa-chevron-left,
    .fa-chevron-right {
        color: #fff!important
    }
    .owl-theme .owl-controls .owl-buttons div {
        opacity: .9!important
    }
    .box-adv-center {
        display: none
    }
    .main-content-bottom .col-md-4 {
        padding-left: 0;
        padding-right: 0
    }
    .box-face,
    .header-face {
        padding-left: 0
    }
    .col-mid-all ul.product-list li {
        margin-right: 11px
    }
    .box-news-priority .body-news .item-list {
        width: 48%;
        margin-right: 10px;
        float: left
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list {
        margin-right: 8px
    }
    .box-sub-contact .form-group:nth-child(1),
    .box-sub-contact .form-group:nth-last-child(3) {
        width: 100%!important
    }
    .box-sub-contact .form-group {
        width: 50%;
        float: left
    }
}

@media screen and (min-width:769px) and (max-width:991px) {
    .hotline-bot .fa-phone {
        display: none;
    }
    .body-video #myElement iframe,
    .footer-top iframe {
        height: 300px
    }
    .main-content-bottom .box-news-home .box-news-list .body-news.clearfix .item-list.clearfix {
        width: 25%
    }
    .box-sub-contact .form-group:nth-child(1),
    .box-sub-contact .form-group:nth-last-child(3) {
        width: 100%!important
    }
    .box-sub-contact .form-group {
        width: 50%;
        float: left
    }
    .im1 {
        width: 31%
    }
    .main-content-bottom .col-md-4 {
        padding-left: 0;
        padding-right: 0
    }
    .box-face,
    .header-face {
        padding-left: 0
    }
    .col-mid-all ul.product-list li {
        margin-right: 10px
    }
    .box-news-hot ul.body-news li {
        width: 48%;
        margin-right: 10px;
        margin-bottom: 15px
    }
    .col-right-all #myElement iframe {
        height: 200px!important
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list {
        margin-right: 8px
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .hotline-bot .fa-phone {
        display: none;
    }
    .col-mid-all ul.product-list li {
        margin-right: 10px
    }
    .im1 {
        width: 31%
    }
    .col-mid-all .box-library .box-body.clearfix .box-library-list {
        margin-right: 8px
    }
}

@media screen and (width:1024px) {
    .box-adv-center {
        top: 14%
    }
    .dk-all {
        bottom: auto !important;
        top: 20%;
    }
    .hotline-bot .fa-phone {
        display: none;
    }
}

@media screen and (min-width:1200px) {
    .nav-menu .itop>.sub-menu>li {
        border-bottom: 1px solid #e5e5e5
    }
}

@media screen and (min-width:1366px) {
    .main-content-bottom .col-md-4:nth-child(2) {
        padding-right: 0;
        padding-left: 30px
    }
    .main-content-bottom .col-md-4:last-child {
        padding-right: 0;
        padding-left: 64px
    }
    #divAdvLeft,
    #divAdvRight {
        z-index: 10
    }
    #divAdvLeft {
        left: 2px!important
    }
    #divAdvRight img {
        right: -21px!important;
        position: absolute
    }
}


/*======== slide mobile ngang và dọc =========*/

@media screen and (min-width:540px) and (max-width:767px) {
    .box-adv-center {
        display: none !important;
    }
    .slides .owl-carousel img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:480px) {
    .slides {
        display: none;
    }
    .box-adv-center {
        right: 0px;
        width: 100%;
        position: relative;
        height: auto;
        padding: 15px 0px 0px;
    }
    header::after {
        clear: both;
        display: table;
        content: "";
    }
    .box-adv-center .owl-next,
    .box-adv-center .owl-prev {
        top: 40% !important;
    }
    .owl-carousel .owl-item {
        border-bottom: 0px;
    }
    .fa-angle-left,
    .fa-angle-right {
        color: #ffffff;
    }
    .adv-banner .advItem img {
        margin-bottom: 0px;
    }
    .owl-theme .owl-controls .owl-buttons .owl-next,
    .owl-theme .owl-controls .owl-buttons .owl-prev {
        background: rgba(0, 0, 0, .4);
        padding: 12px;
        border: none;
    }
}